<main class="page-main">
        <div class="page-main__wrapper">

           <section class="order-basket">
               <div class="order-basket__wrapper">
                <div class="breadcrumbs"><a>Магазин света Luminare</a><span>&gt;</span><a>Корзина</a></div>
                <h1 class="order-basket__title">Корзина</h1>

                <div class="order-basket__wrapper-big">
                    
                    <div class="order-basket__price-wrapper">
                        <div class="order-basket__price">
                            <div class="order-basket__price-item"><div>Товары (400 000)</div><span>88 000 000 ₽</span></div>
                            <div class="order-basket__price-item"><div>Доставка</div><span>0₽</span></div>
                            <div class="order-basket__price-item"><div>Скидка</div><span style="color: red;">0 ₽</span></div>
                            <div class="order-basket__price-item order-basket__price-item-big"><div>Итого к оплате</div><span>87 900 000 ₽</span></div>
                        </div>

                        <div class="order-basket__sale-wrapper">
                            <div class="order-basket__sale">
                                <div>Промокод на скидку</div>
                                <form action="">
                                    <input type="text" />
                                    <button type="submit">Применить</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <ul class="order-basket-list">
                        <li>
                            <div class="item-basket__copiright-wrapper">
                                <img src="../img/lustra.png" alt="">
                                <div class="item-basket__copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                            </div>
                            <div class="item-basket__price-wrapper">
                                <div class="item-basket__price-counter">
                                    <div class='count_box'>
                                        <div class="minus">-</div>
                                        <input class='inp_price' type="text" value="1"/>
                                        <div class="plus">+</div>
                                        </div>
                                </div>
                                <div class="item-basket__price">
                                    <span>22 000 000 ₽</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-basket__copiright-wrapper">
                                <img src="../img/lustra.png" alt="">
                                <div class="item-basket__copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                            </div>
                            <div class="item-basket__price-wrapper">
                                <div class="item-basket__price-counter">
                                    <div class='count_box'>
                                        <div class="minus">-</div>
                                        <input class='inp_price' type="text" value="1"/>
                                        <div class="plus">+</div>
                                        </div>
                                </div>
                                <div class="item-basket__price">
                                    <span>22 000 000 ₽</span>
                                </div>
                            </div>
                        </li>



                        <li>
                            <div class="item-basket__copiright-wrapper">
                                <img src="../img/lustra.png" alt="">
                                <div class="item-basket__copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                            </div>
                            <div class="item-basket__price-wrapper">
                                <div class="item-basket__price-counter">
                                    <div class='count_box'>
                                        <div class="minus">-</div>
                                        <input class='inp_price' type="text" value="1"/>
                                        <div class="plus">+</div>
                                        </div>
                                </div>
                                <div class="item-basket__price">
                                    <span>22 000 000 ₽</span>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="item-basket__copiright-wrapper">
                                <img src="../img/lustra.png" alt="">
                                <div class="item-basket__copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                            </div>
                            <div class="item-basket__price-wrapper">
                                <div class="item-basket__price-counter">
                                    <div class='count_box'>
                                        <div class="minus">-</div>
                                        <input class='inp_price' type="text" value="1"/>
                                        <div class="plus">+</div>
                                        </div>
                                </div>
                                <div class="item-basket__price">
                                    <span>22 000 000 ₽</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-basket__copiright-wrapper">
                                <img src="../img/lustra.png" alt="">
                                <div class="item-basket__copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                            </div>
                            <div class="item-basket__price-wrapper">
                                <div class="item-basket__price-counter">
                                    <div class='count_box'>
                                        <div class="minus">-</div>
                                        <input class='inp_price' type="text" value="1"/>
                                        <div class="plus">+</div>
                                        </div>
                                </div>
                                <div class="item-basket__price">
                                    <span>22 000 000 ₽</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-basket__copiright-wrapper">
                                <img src="../img/lustra.png" alt="">
                                <div class="item-basket__copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                            </div>
                            <div class="item-basket__price-wrapper">
                                <div class="item-basket__price-counter">
                                    <div class='count_box'>
                                        <div class="minus">-</div>
                                        <input class='inp_price' type="text" value="1"/>
                                        <div class="plus">+</div>
                                        </div>
                                </div>
                                <div class="item-basket__price">
                                    <span>22 000 000 ₽</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-basket__copiright-wrapper">
                                <img src="../img/lustra.png" alt="">
                                <div class="item-basket__copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                            </div>
                            <div class="item-basket__price-wrapper">
                                <div class="item-basket__price-counter">
                                    <div class='count_box'>
                                        <div class="minus">-</div>
                                        <input class='inp_price' type="text" value="1"/>
                                        <div class="plus">+</div>
                                        </div>
                                </div>
                                <div class="item-basket__price">
                                    <span>22 000 000 ₽</span>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>

                <div class="form__basket-wrapper">

                    <div id="form-basket" class="tabs__form-basket">
                        <input type="radio" name="form-basket-1" id="form-basket-1" value="" checked>
                        <label for="form-basket-1">Оформление заказа</label>
                        <input type="radio" name="form-basket-1" id="form-basket-2" value="">
                        <label for="form-basket-2">Быстрый заказ</label>


                        <div id="form-basket-content-1">

                        <div>Контактное лицо</div>
                        
                        <form id="dostavka" action="">
                            <div class="form-basket-content-input">
                                <input id="name" type="text" placeholder="Имя">
                                <label for="name"></label>
                                <small>Заполните поле</small>
                                <div class="form-group">
                                    <label for="phone">Телефон: </label>
                                    <select id="country" class="form-control">
                                      <option value="ru"><img src="">Россия +7</option>
                                      <option value="ua">Украина +380</option>
                                      <option value="by">Белоруссия +375</option>
                                    </select>
                                    <input id="phone" type="tel" class="form-control">
                                    <small>Заполните поле</small>
                                    </div>
                                <label for="email"></label>
                                <input id="email" type="email" placeholder="Email">
                                <small>Заполните поле</small>
                            </div>

                            <div class="form-basket-content-sposob">
                                <span>Способ доставки</span>
                                <select id="contact-location">
                                    <option data-div-id="div1">Самовывоз</option>
                                    <option data-div-id="div2">Доставка</option>
                                  </select>
                                  <div id="div1" class="basket__samovivoz container" style="display:none">
                                  <div>
                                    <input style="display: block;" type="checkbox" id="customCheck1"
                                    class="custom-control-input" value="on" onchange="document.getElementById("
                                    mc-embedded-subscribe").disabled="!this.checked&quot;">г. Москва, Ленинский район д. Румянцево Бизнес Парк "Румянцево" корпус Г 1 этаж павильон 105Г
                                  </div>
                                  <div>
                                    <input style="display: block;" type="checkbox" id="customCheck1"
                                    class="custom-control-input" value="on" onchange="document.getElementById("
                                    mc-embedded-subscribe").disabled="!this.checked&quot;">г. Москва, Ленинский район д. Румянцево Бизнес Парк "Румянцево" корпус Г 1 этаж павильон 105Г
                                  </div>
                                </div>

                                <div id="div2" class="basket__samovivoz container" style="display:none">
                                    <input id="city" type="text" placeholder="Город" />

                                    <input id="adress" type="text" placeholder="Адрес" />
                                  </div>
                            </div>

                            <button class="form-basket-content-button" type="submit">Оформить заказ</button>

                            <div class="custom-control custom-checkbox">
                                <input style="display: block;" type="checkbox" id="customCheck1"
                                    class="custom-control-input" value="on" onchange="document.getElementById("
                                    mc-embedded-subscribe").disabled="!this.checked&quot;" checked="">
                                <label class="custom-control-label small" for="customCheck1">Я ознакомился и принимаю
                                    условия “Политики конфиденциальности” и “Информированного согласия“</label>
                            </div>


                        </form>
                        
                        </div>

                        <div id="form-basket-content-2">
                        
                            <div>Контактное лицо</div>
                        
                            <form action="">
                                <div class="form-basket-content-input">
                                    <input type="text" placeholder="Имя">
                                    <div class="form-group">
                                        <label for="phones">Телефон: </label>
                                        <select id="countrytwo" class="form-control">
                                          <option value="ru"><img src="">Россия +7</option>
                                          <option value="ua">Украина +380</option>
                                          <option value="by">Белоруссия +375</option>
                                        </select>
                                        <input id="phones" type="tel" class="form-control">
                                        </div>
                                </div>
    
                            
    
                                <button  class="form-basket-content-button" type="submit">Оформить заказ</button>
    
                                <div class="custom-control custom-checkbox">
                                    <input style="display: block;" type="checkbox" id="customCheck1"
                                        class="custom-control-input" value="on" onchange="document.getElementById("
                                        mc-embedded-subscribe").disabled="!this.checked&quot;" checked="">
                                    <label class="custom-control-label small" for="customCheck1">Я ознакомился и принимаю
                                        условия “Политики конфиденциальности” и “Информированного согласия“</label>
                                </div>
    
    
                            </form>

                        </div>

                    </div>

                </div>

               </div>
           </section>

        </div>
    </main>