{{header}}
    <main class="page-main">
        <div class="page-main__wrapper">
            <section class="catalog">
                <div class="catalog__wrapper">
                    <div class="breadcrumbs"><a>Магазин света Luminare</a><span>></span><a>Каталог</a></div>

                    <h1>Каталог товаров</h1>

                    <div class="catalog__intro-slide-wrapper">
                        {% for c in main_categories %}
                        <div class="catalog__intro-slide slide"><a href='{{c.href}}'>
                            <img src="/image/{{c.image_for_filter}}" alt="">
                            <div>{{c.name}}</div>
                            <span>{{c.count}}</span></a>
                        </div>
                        {% endfor %}
                    </div>
                 </div>
            </section>
            {% for c in main_categories %}
            <section class="catalog">
                <div class="catalog__wrapper">
                    
                    <div class="catalog__tablet-wrapper">
                        <ul class="popularcategories__list">
                            <li><a href="{{c.href}}"><img src="/image/{{c.image}}" alt=""><span>{{c.name}}</span></a></li>
                        </ul>

                    <ul class="catalog__list">
                        <li>Подкатегории<span class="catalog__icon-one"><svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.960531 5.39026L5.33371 9.30859L9.70703 5.39026" stroke="#242424"/>
                            <path d="M0.960531 0.833617L5.33371 4.75195L9.70703 0.833617" stroke="#242424"/>
                            </svg>
                            </span>
                            <ul class="catalog__list-mini-one">
                                {% for s in c.subcategories %}
                                <li><a href="{{s.href}}">{{s.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                        <li>Материалы<span class="catalog__icon-two"><svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.960531 5.39026L5.33371 9.30859L9.70703 5.39026" stroke="#242424"/>
                            <path d="M0.960531 0.833617L5.33371 4.75195L9.70703 0.833617" stroke="#242424"/>
                            </svg>
                            </span>
                            <ul class="catalog__list-mini-two">
                                {% for m in c.materials %}
                                <li><a href="{{m}}">{{m}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                    <!--h2>Люстры для</h2>

                    <div class="catalog__slide-wrapper">
                       
                        <div class="catalog__slide">
                            <div class="slide"><img src="../img/catalogitem1.png" alt=""><div class="catalog__slide-text">Cпальни</div></div>
                            <div class="slide"><img src="../img/catalogitem2.png" alt=""><div class="catalog__slide-text">Гостинной</div></div>
                            <div class="slide"><img src="../img/catalogitem3.png" alt=""><div class="catalog__slide-text">Кухни</div></div>
                            <div class="slide"><img src="../img/catalogitem4.png" alt=""><div class="catalog__slide-text">Детской</div></div>
                            <div class="slide"><img src="../img/catalogitem5.png" alt=""><div class="catalog__slide-text">Ванной</div></div>
                            <div class="slide"><img src="../img/catalogitem1.png" alt=""><div class="catalog__slide-text">Cпальни</div></div>
                            <div class="slide"><img src="../img/catalogitem2.png" alt=""><div class="catalog__slide-text">Гостинной</div></div>
                            <div class="slide"><img src="../img/catalogitem3.png" alt=""><div class="catalog__slide-text">Кухни</div></div>
                            <div class="slide"><img src="../img/catalogitem4.png" alt=""><div class="catalog__slide-text">Детской</div></div>
                            <div class="slide"><img src="../img/catalogitem5.png" alt=""><div class="catalog__slide-text">Ванной</div></div>
                        </div>
                    </div>



                    <h2>Люстры под стили интерьера</h2>

                    <div class="catalog__slide-wrapper">
                       
                        <div class="catalog__slide">
                            <div class="slide"><img src="../img/catalogitems1.png" alt=""><div class="catalog__slide-text">Классика</div></div>
                            <div class="slide"><img src="../img/catalogitems2.png" alt=""><div class="catalog__slide-text">Арт-деко</div></div>
                            <div class="slide"><img src="../img/catalogitems3.png" alt=""><div class="catalog__slide-text">Современный</div></div>
                            <div class="slide"><img src="../img/catalogitems4.png" alt=""><div class="catalog__slide-text">Кантри</div></div>
                            <div class="slide"><img src="../img/catalogitems5.png" alt=""><div class="catalog__slide-text">Тифани</div></div>
                            <div class="slide"><img src="../img/catalogitems1.png" alt=""><div class="catalog__slide-text">Классика</div></div>
                            <div class="slide"><img src="../img/catalogitems2.png" alt=""><div class="catalog__slide-text">Арт-деко</div></div>
                            <div class="slide"><img src="../img/catalogitems3.png" alt=""><div class="catalog__slide-text">Современный</div></div>
                            <div class="slide"><img src="../img/catalogitems4.png" alt=""><div class="catalog__slide-text">Кантри</div></div>
                            <div class="slide"><img src="../img/catalogitems5.png" alt=""><div class="catalog__slide-text">Тифани</div></div>
                        </div>
                    </div-->
            </div>
        </section>
        {% endfor %}


        <!--section class="catalog">
            <div class="catalog__wrapper">

      

                <div class="catalog__tablet-wrapper">
                <img src="../img/catalog1.png" alt="Элемент каталога люстр">

                <ul class="catalog__list">
                    <li>Подкатегории<span class="catalog__icon-one"><svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.960531 5.39026L5.33371 9.30859L9.70703 5.39026" stroke="#242424"/>
                        <path d="M0.960531 0.833617L5.33371 4.75195L9.70703 0.833617" stroke="#242424"/>
                        </svg>
                        </span>
                        <ul class="catalog__list-mini-one">
                            <li><a href="">Потолочные</a></li>
                            <li><a href="">Подвесные</a></li>
                            <li><a href="">Каскадные</a></li>
                            <li><a href="">Люстры на штанге</a></li>
                            <li><a href="">Большие люстры</a></li>
                            <li><a href="">Люстры-вентиляторы</a></li>
                            <li><a href="">Элитные люстры</a></li>
                        </ul>
                    </li>

                    <li>Материалы<span class="catalog__icon-two"><svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.960531 5.39026L5.33371 9.30859L9.70703 5.39026" stroke="#242424"/>
                        <path d="M0.960531 0.833617L5.33371 4.75195L9.70703 0.833617" stroke="#242424"/>
                        </svg>
                        </span>
                        <ul class="catalog__list-mini-two">
                            <li><a href="">Хрустальные</a></li>
                            <li><a href="">Деревянные</a></li>
                            <li><a href="">Стеклянные</a></li>
                            <li><a href="">Пластиковые</a></li>
                            <li><a href="">Текстильные</a></li>
                            <li><a href="">Керамические</a></li>
                            <li><a href="">Металические</a></li>
                            <li><a href="">Кованные</a></li>
                            <li><a href="">Хрустальные тонированные</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
                <h2>Люстры для</h2>

                <div class="catalog__slide-wrapper">
                       
                    <div class="catalog__slide">
                        <div class="slide"><img src="../img/catalogitem1.png" alt=""><div class="catalog__slide-text">Cпальни</div></div>
                        <div class="slide"><img src="../img/catalogitem2.png" alt=""><div class="catalog__slide-text">Гостинной</div></div>
                        <div class="slide"><img src="../img/catalogitem3.png" alt=""><div class="catalog__slide-text">Кухни</div></div>
                        <div class="slide"><img src="../img/catalogitem4.png" alt=""><div class="catalog__slide-text">Детской</div></div>
                        <div class="slide"><img src="../img/catalogitem5.png" alt=""><div class="catalog__slide-text">Ванной</div></div>
                        <div class="slide"><img src="../img/catalogitem1.png" alt=""><div class="catalog__slide-text">Cпальни</div></div>
                        <div class="slide"><img src="../img/catalogitem2.png" alt=""><div class="catalog__slide-text">Гостинной</div></div>
                        <div class="slide"><img src="../img/catalogitem3.png" alt=""><div class="catalog__slide-text">Кухни</div></div>
                        <div class="slide"><img src="../img/catalogitem4.png" alt=""><div class="catalog__slide-text">Детской</div></div>
                        <div class="slide"><img src="../img/catalogitem5.png" alt=""><div class="catalog__slide-text">Ванной</div></div>
                    </div>
                </div>



                <h2>Люстры под стили интерьера</h2>

                <div class="catalog__slide-wrapper">
                   
                    <div class="catalog__slide">
                        <div class="slide"><img src="../img/catalogitems1.png" alt=""><div class="catalog__slide-text">Классика</div></div>
                        <div class="slide"><img src="../img/catalogitems2.png" alt=""><div class="catalog__slide-text">Арт-деко</div></div>
                        <div class="slide"><img src="../img/catalogitems3.png" alt=""><div class="catalog__slide-text">Современный</div></div>
                        <div class="slide"><img src="../img/catalogitems4.png" alt=""><div class="catalog__slide-text">Кантри</div></div>
                        <div class="slide"><img src="../img/catalogitems5.png" alt=""><div class="catalog__slide-text">Тифани</div></div>
                        <div class="slide"><img src="../img/catalogitems1.png" alt=""><div class="catalog__slide-text">Классика</div></div>
                        <div class="slide"><img src="../img/catalogitems2.png" alt=""><div class="catalog__slide-text">Арт-деко</div></div>
                        <div class="slide"><img src="../img/catalogitems3.png" alt=""><div class="catalog__slide-text">Современный</div></div>
                        <div class="slide"><img src="../img/catalogitems4.png" alt=""><div class="catalog__slide-text">Кантри</div></div>
                        <div class="slide"><img src="../img/catalogitems5.png" alt=""><div class="catalog__slide-text">Тифани</div></div>
                    </div>
                </div>
        </div>
    </section>




    <section class="catalog">
        <div class="catalog__wrapper">


            <div class="catalog__tablet-wrapper">
            <img src="../img/catalog1.png" alt="Элемент каталога люстр">

            <ul class="catalog__list">
                <li>Подкатегории<span class="catalog__icon-one"><svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.960531 5.39026L5.33371 9.30859L9.70703 5.39026" stroke="#242424"/>
                    <path d="M0.960531 0.833617L5.33371 4.75195L9.70703 0.833617" stroke="#242424"/>
                    </svg>
                    </span>
                    <ul class="catalog__list-mini-one">
                        <li><a href="">Потолочные</a></li>
                        <li><a href="">Подвесные</a></li>
                        <li><a href="">Каскадные</a></li>
                        <li><a href="">Люстры на штанге</a></li>
                        <li><a href="">Большие люстры</a></li>
                        <li><a href="">Люстры-вентиляторы</a></li>
                        <li><a href="">Элитные люстры</a></li>
                    </ul>
                </li>

                <li>Материалы<span class="catalog__icon-two"><svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.960531 5.39026L5.33371 9.30859L9.70703 5.39026" stroke="#242424"/>
                    <path d="M0.960531 0.833617L5.33371 4.75195L9.70703 0.833617" stroke="#242424"/>
                    </svg>
                    </span>
                    <ul class="catalog__list-mini-two">
                        <li><a href="">Хрустальные</a></li>
                        <li><a href="">Деревянные</a></li>
                        <li><a href="">Стеклянные</a></li>
                        <li><a href="">Пластиковые</a></li>
                        <li><a href="">Текстильные</a></li>
                        <li><a href="">Керамические</a></li>
                        <li><a href="">Металические</a></li>
                        <li><a href="">Кованные</a></li>
                        <li><a href="">Хрустальные тонированные</a></li>
                    </ul>
                </li>
            </ul>
        </div>
            <h2>Люстры для</h2>

            <div class="catalog__slide-wrapper">
                       
                <div class="catalog__slide">
                    <div class="slide"><img src="../img/catalogitem1.png" alt=""><div class="catalog__slide-text">Cпальни</div></div>
                    <div class="slide"><img src="../img/catalogitem2.png" alt=""><div class="catalog__slide-text">Гостинной</div></div>
                    <div class="slide"><img src="../img/catalogitem3.png" alt=""><div class="catalog__slide-text">Кухни</div></div>
                    <div class="slide"><img src="../img/catalogitem4.png" alt=""><div class="catalog__slide-text">Детской</div></div>
                    <div class="slide"><img src="../img/catalogitem5.png" alt=""><div class="catalog__slide-text">Ванной</div></div>
                    <div class="slide"><img src="../img/catalogitem1.png" alt=""><div class="catalog__slide-text">Cпальни</div></div>
                    <div class="slide"><img src="../img/catalogitem2.png" alt=""><div class="catalog__slide-text">Гостинной</div></div>
                    <div class="slide"><img src="../img/catalogitem3.png" alt=""><div class="catalog__slide-text">Кухни</div></div>
                    <div class="slide"><img src="../img/catalogitem4.png" alt=""><div class="catalog__slide-text">Детской</div></div>
                    <div class="slide"><img src="../img/catalogitem5.png" alt=""><div class="catalog__slide-text">Ванной</div></div>
                </div>
            </div>



            <h2>Люстры под стили интерьера</h2>

            <div class="catalog__slide-wrapper">
               
                <div class="catalog__slide">
                    <div class="slide"><img src="../img/catalogitems1.png" alt=""><div class="catalog__slide-text">Классика</div></div>
                    <div class="slide"><img src="../img/catalogitems2.png" alt=""><div class="catalog__slide-text">Арт-деко</div></div>
                    <div class="slide"><img src="../img/catalogitems3.png" alt=""><div class="catalog__slide-text">Современный</div></div>
                    <div class="slide"><img src="../img/catalogitems4.png" alt=""><div class="catalog__slide-text">Кантри</div></div>
                    <div class="slide"><img src="../img/catalogitems5.png" alt=""><div class="catalog__slide-text">Тифани</div></div>
                    <div class="slide"><img src="../img/catalogitems1.png" alt=""><div class="catalog__slide-text">Классика</div></div>
                    <div class="slide"><img src="../img/catalogitems2.png" alt=""><div class="catalog__slide-text">Арт-деко</div></div>
                    <div class="slide"><img src="../img/catalogitems3.png" alt=""><div class="catalog__slide-text">Современный</div></div>
                    <div class="slide"><img src="../img/catalogitems4.png" alt=""><div class="catalog__slide-text">Кантри</div></div>
                    <div class="slide"><img src="../img/catalogitems5.png" alt=""><div class="catalog__slide-text">Тифани</div></div>
                </div>
            </div>
    </div>
</section>



<section class="catalog">
    <div class="catalog__wrapper">

        <div class="catalog__tablet-wrapper">
        <img src="../img/catalog1.png" alt="Элемент каталога люстр">

        <ul class="catalog__list">
            <li>Подкатегории<span class="catalog__icon-one"><svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.960531 5.39026L5.33371 9.30859L9.70703 5.39026" stroke="#242424"/>
                <path d="M0.960531 0.833617L5.33371 4.75195L9.70703 0.833617" stroke="#242424"/>
                </svg>
                </span>
                <ul class="catalog__list-mini-one">
                    <li><a href="">Потолочные</a></li>
                    <li><a href="">Подвесные</a></li>
                    <li><a href="">Каскадные</a></li>
                    <li><a href="">Люстры на штанге</a></li>
                    <li><a href="">Большие люстры</a></li>
                    <li><a href="">Люстры-вентиляторы</a></li>
                    <li><a href="">Элитные люстры</a></li>
                </ul>
            </li>

            <li>Материалы<span class="catalog__icon-two"><svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.960531 5.39026L5.33371 9.30859L9.70703 5.39026" stroke="#242424"/>
                <path d="M0.960531 0.833617L5.33371 4.75195L9.70703 0.833617" stroke="#242424"/>
                </svg>
                </span>
                <ul class="catalog__list-mini-two">
                    <li><a href="">Хрустальные</a></li>
                    <li><a href="">Деревянные</a></li>
                    <li><a href="">Стеклянные</a></li>
                    <li><a href="">Пластиковые</a></li>
                    <li><a href="">Текстильные</a></li>
                    <li><a href="">Керамические</a></li>
                    <li><a href="">Металические</a></li>
                    <li><a href="">Кованные</a></li>
                    <li><a href="">Хрустальные тонированные</a></li>
                </ul>
            </li>
        </ul>
    </div>
        <h2>Люстры для</h2>

        <div class="catalog__slide-wrapper">
                       
            <div class="catalog__slide">
                <div class="slide"><img src="../img/catalogitem1.png" alt=""><div class="catalog__slide-text">Cпальни</div></div>
                <div class="slide"><img src="../img/catalogitem2.png" alt=""><div class="catalog__slide-text">Гостинной</div></div>
                <div class="slide"><img src="../img/catalogitem3.png" alt=""><div class="catalog__slide-text">Кухни</div></div>
                <div class="slide"><img src="../img/catalogitem4.png" alt=""><div class="catalog__slide-text">Детской</div></div>
                <div class="slide"><img src="../img/catalogitem5.png" alt=""><div class="catalog__slide-text">Ванной</div></div>
                <div class="slide"><img src="../img/catalogitem1.png" alt=""><div class="catalog__slide-text">Cпальни</div></div>
                <div class="slide"><img src="../img/catalogitem2.png" alt=""><div class="catalog__slide-text">Гостинной</div></div>
                <div class="slide"><img src="../img/catalogitem3.png" alt=""><div class="catalog__slide-text">Кухни</div></div>
                <div class="slide"><img src="../img/catalogitem4.png" alt=""><div class="catalog__slide-text">Детской</div></div>
                <div class="slide"><img src="../img/catalogitem5.png" alt=""><div class="catalog__slide-text">Ванной</div></div>
            </div>
        </div>



        <h2>Люстры под стили интерьера</h2>

        <div class="catalog__slide-wrapper">
           
            <div class="catalog__slide">
                <div class="slide"><img src="../img/catalogitems1.png" alt=""><div class="catalog__slide-text">Классика</div></div>
                <div class="slide"><img src="../img/catalogitems2.png" alt=""><div class="catalog__slide-text">Арт-деко</div></div>
                <div class="slide"><img src="../img/catalogitems3.png" alt=""><div class="catalog__slide-text">Современный</div></div>
                <div class="slide"><img src="../img/catalogitems4.png" alt=""><div class="catalog__slide-text">Кантри</div></div>
                <div class="slide"><img src="../img/catalogitems5.png" alt=""><div class="catalog__slide-text">Тифани</div></div>
                <div class="slide"><img src="../img/catalogitems1.png" alt=""><div class="catalog__slide-text">Классика</div></div>
                <div class="slide"><img src="../img/catalogitems2.png" alt=""><div class="catalog__slide-text">Арт-деко</div></div>
                <div class="slide"><img src="../img/catalogitems3.png" alt=""><div class="catalog__slide-text">Современный</div></div>
                <div class="slide"><img src="../img/catalogitems4.png" alt=""><div class="catalog__slide-text">Кантри</div></div>
                <div class="slide"><img src="../img/catalogitems5.png" alt=""><div class="catalog__slide-text">Тифани</div></div>
            </div>
        </div>
</div>
</section-->








        </div>
    </main>
{{footer}}