<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <title>Luminare</title>
    <meta name='description' content='Мы промитей среди магазинов света!'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../css/styleindex.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
</head>

<body class="page-body">

    <header class="page-header">
        <div class="page-header__wrapper">
            <nav class="mobile-menu">
                <a class="logo__desktop" href="/">
                    <img src="/image/{{logo}}" alt="Логотип компании">
                </a>
                <input type="checkbox" id="checkbox" class="mobile-menu__checkbox">
                <label for="checkbox" class="mobile-menu__btn">
                    <div class="mobile-menu__icon"></div>
                </label>
                <span class="mobile-menu__text">Каталог</span>
                <div class="mobile-menu__container">
                    <div class="mobile-menu__iconcontainer">

                        <div class="basket__wrapper">
                        <div class="basketcountmob" id="countbasketmob"></div>
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M17.3051 2.69639H3.94988L2.80878 0.665599C2.6807 0.437654 2.4384 0.296387 2.1755 0.296387H0.725167C0.324668 0.296387 0 0.618742 0 1.01639C0 1.41403 0.324668 1.73639 0.725167 1.73639H1.74968L2.87581 3.74053L5.47295 9.44603L5.47561 9.45186L5.70437 9.95439L3.09682 12.716C2.90933 12.9145 2.85064 13.2011 2.94513 13.4566C3.03963 13.7121 3.27115 13.8928 3.54351 13.9237L5.92026 14.1934C8.89313 14.5308 11.895 14.5308 14.8679 14.1934L17.2447 13.9237C17.6426 13.8786 17.9283 13.5217 17.8828 13.1266C17.8373 12.7316 17.4779 12.4479 17.08 12.493L14.7032 12.7627C11.8398 13.0877 8.94838 13.0877 6.08494 12.7627L5.14172 12.6557L7.05556 10.6288C7.07407 10.6092 7.09127 10.5889 7.10714 10.5678L7.83503 10.6619C8.85503 10.7937 9.88608 10.8195 10.9115 10.739C13.303 10.5512 15.5196 9.42127 17.067 7.6011L17.626 6.94367C17.6447 6.92159 17.6621 6.89841 17.6781 6.87425L18.7198 5.29807C19.4582 4.18086 18.651 2.69639 17.3051 2.69639Z"
                                    fill="#D1D1D1" />
                                <path
                                    d="M5.07617 15.4164C4.27518 15.4164 3.62584 16.0611 3.62584 16.8564C3.62584 17.6517 4.27518 18.2964 5.07617 18.2964C5.87717 18.2964 6.52651 17.6517 6.52651 16.8564C6.52651 16.0611 5.87717 15.4164 5.07617 15.4164Z"
                                    fill="#D1D1D1" />
                                <path
                                    d="M14.2616 16.8564C14.2616 16.0611 14.911 15.4164 15.712 15.4164C16.513 15.4164 17.1623 16.0611 17.1623 16.8564C17.1623 17.6517 16.513 18.2964 15.712 18.2964C14.911 18.2964 14.2616 17.6517 14.2616 16.8564Z"
                                    fill="#D1D1D1" />
                            </svg></div>



                        <div class="mobile-menu__iconcontainer-big">
                            <a class="page-header__option-screach">
                                <div class="page-header__option">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.55013 18.5192C11.5583 18.5188 13.5086 17.8465 15.0905 16.6094L20.0641 21.583L21.6639 19.9832L16.6903 15.0096C17.9281 13.4276 18.6008 11.4768 18.6012 9.4681C18.6012 4.47754 14.5407 0.416992 9.55013 0.416992C4.55958 0.416992 0.499023 4.47754 0.499023 9.4681C0.499023 14.4587 4.55958 18.5192 9.55013 18.5192ZM9.55013 2.67977C13.2939 2.67977 16.3385 5.72433 16.3385 9.4681C16.3385 13.2119 13.2939 16.2564 9.55013 16.2564C5.80637 16.2564 2.7618 13.2119 2.7618 9.4681C2.7618 5.72433 5.80637 2.67977 9.55013 2.67977Z"
                                            fill="#242424" />
                                    </svg>
                                    <div id="moving_block-tablet">
                                        <span class="moving__close"><svg width="15" height="15" viewBox="0 0 15 15"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M13.0992 0.89624L7.94726 6.17502L2.79535 0.89624L1.49585 2.22774L6.64776 7.50652L1.49585 12.7853L2.79535 14.1168L7.94726 8.83802L13.0992 14.1168L14.3987 12.7853L9.24676 7.50652L14.3987 2.22774L13.0992 0.89624Z"
                                                    fill="#F2F2F2" />
                                            </svg>
                                        </span>
                                        <input type="text" placeholder="Vele luce">
                                    </div>
                                </div>
                            </a>

                            <div class="page-header__option">
                            <div class="izbrannoecount" id="countizbrannoemob"></div>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M21.4665 8.69668L13.763 8.03241L10.7524 0.939697L7.74174 8.04312L0.0383301 8.69668L5.88821 13.7644L4.1311 21.2964L10.7524 17.3001L17.3737 21.2964L15.6273 13.7644L21.4665 8.69668ZM10.7524 15.2965L6.72391 17.7286L7.79531 13.143L4.23824 10.0574L8.93101 9.65023L10.7524 5.33246L12.5845 9.66095L17.2773 10.0681L13.7202 13.1537L14.7916 17.7394L10.7524 15.2965Z"
                                        fill="#242424" />
                                </svg></div>

                            <div class="page-header__option">
                            <div class="sravneniecount" id="countsravnenie"></div>
                            <svg width="30" height="14" viewBox="0 0 30 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.294556" y="0.794678" width="12.4106" height="12.4106" rx="3"
                                        fill="#242424" />
                                    <rect x="17.5454" y="0.794678" width="12.4106" height="12.4106" rx="6.20529"
                                        fill="#242424" />
                                </svg>
                            </div>

                            <div class="page-header__option page-header__option-log"><svg width="29" height="28" viewBox="0 0 29 28" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.4996 4.51807C12.1193 4.51807 10.1896 6.44772 10.1896 8.82807C10.1896 11.2084 12.1193 13.1381 14.4996 13.1381C16.88 13.1381 18.8096 11.2084 18.8096 8.82807C18.8096 6.44772 16.88 4.51807 14.4996 4.51807Z"
                                        fill="#242424" />
                                    <path
                                        d="M9.90229 15.4368C7.52194 15.4368 5.59229 17.3664 5.59229 19.7468V21.1125C5.59229 21.9782 6.21969 22.7164 7.07409 22.8558C11.9919 23.6588 17.0074 23.6588 21.9252 22.8558C22.7796 22.7164 23.407 21.9782 23.407 21.1125V19.7468C23.407 17.3664 21.4773 15.4368 19.097 15.4368H18.7052C18.4932 15.4368 18.2825 15.4703 18.0809 15.5361L17.0861 15.8609C15.4055 16.4097 13.5938 16.4097 11.9132 15.8609L10.9184 15.5361C10.7168 15.4703 10.5061 15.4368 10.2941 15.4368H9.90229Z"
                                        fill="#242424" />
                                </svg></div>
                        </div>
                    </div>
                    <ul class="mobile-menu__list">
                        {% for key,c in categories %}
                            {% if key < 6 %}
                            <li class="mobile-menu__item"><a href="{{c.href}}" class="mobile-menu__link">{{c.name}}</a><span><svg
                                        width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menumini__list">
                                    <li><a href="">Виды</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z"
                                                    fill="#000000" /></svg></span>
                                        <ul class="mobile-menuminitwo__list">
                                            {% for s in c.subcategories %}
                                                <li><a href="{{s.href}}">{{s.name}}</a></li>
                                            {% endfor %}
                                                <!--li><a href="">Подвесные</a></li>
                                                <li><a href="">Каскадные</a></li>
                                                <li><a href="">Люстры на штанге</a></li>
                                                <li><a href="">Большие люстры</a></li>
                                                <li><a href="">Люстры-вентиляторы</a></li>
                                                <li><a href="">Элитные люстры</a></li-->
                                        </ul>
                                    </li>
                                    <li><a href="">Место использования</a><span><svg width="8" height="6" viewBox="0 0 8 6"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z"
                                                    fill="#000000" /></svg></span>
                                        <ul class="mobile-menuminitwo__list">
                                            <li><a href="">Для спальни</a></li>
                                            <li><a href="">Для кухни</a></li>
                                            <li><a href="">Для гостиной</a></li>
                                            <li><a href="">Для детской</a></li>
                                            <li><a href="">Для ванной</a></li>
                                            <li><a href="">Для офиса</a></li>
                                            <li><a href="">Для прихожей</a></li>
                                            <li><a href="">Для экспозиции</a></li>
                                            <li><a href="">Для больших залов</a></li>
                                            <li><a href="">Для магазина</a></li>
                                            <li><a href="">Для кафе и ресторанов</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">Стили</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z"
                                                    fill="#000000" /></svg></span>
                                        <ul class="mobile-menuminitwo__list">
                                            <li><a href="">Классика</a></li>
                                            <li><a href="">Арт-деко</a></li>
                                            <li><a href="">Современный</a></li>
                                            <li><a href="">Кантри</a></li>
                                            <li><a href="">Тифани</a></li>
                                            <li><a href="">Хайтек</a></li>
                                            <li><a href="">Прованс</a></li>
                                            <li><a href="">Восточный</a></li>
                                            <li><a href="">Замковый</a></li>
                                            <li><a href="">Лофт</a></li>
                                            <li><a href="">Морской</a></li>
                                            <li><a href="">Модерн</a></li>
                                            <li><a href="">Ретро</a></li>
                                            <li><a href="">Неоклассика</a></li>
                                            <li><a href="">Дизайнерский</a></li>
                                            <li><a href="">Скандинавский</a></li>
                                            <li><a href="">Минимализм</a></li>
                                            <li><a href="">Американский</a></li>
                                            <li><a href="">Флористика</a></li>
                                            <li><a href="">Японский</a></li>
                                            <li><a href="">Эко</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="">Материалы</a><span><svg width="8" height="6" viewBox="0 0 8 6"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z"
                                                    fill="#000000" /></svg></span>
                                        <ul class="mobile-menuminitwo__list">
                                            <li><a href="">Хрустальные</a></li>
                                            <li><a href="">Деревянные</a></li>
                                            <li><a href="">Стеклянные</a></li>
                                            <li><a href="">Пластиковые</a></li>
                                            <li><a href="">Текстильные</a></li>
                                            <li><a href="">Керамические</a></li>
                                            <li><a href="">Металические</a></li>
                                            <li><a href="">Кованные</a></li>
                                            <li><a href="">Хрустальные тонированные</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if key == 6 %}
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                    
                      
                            {% for key,c in categories %}
                                {% if key > 6 %}
                                <li class="mobile-menu__item"><a href="{{c.href}}" class="mobile-menu__link">{{c.name}}</a><span><svg
                                            width="8" height="6" viewBox="0 0 8 6" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                        </svg></span>
                                    <ul class="mobile-menumini__list">
                                        <li><a href="">Виды</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z"
                                                        fill="#000000" /></svg></span>
                                            <ul class="mobile-menuminitwo__list">
                                                {% for s in c.subcategories %}
                                                    <li><a href="{{s.href}}">{{s.name}}</a></li>
                                                {% endfor %}
                                                    <!--li><a href="">Подвесные</a></li>
                                                    <li><a href="">Каскадные</a></li>
                                                    <li><a href="">Люстры на штанге</a></li>
                                                    <li><a href="">Большие люстры</a></li>
                                                    <li><a href="">Люстры-вентиляторы</a></li>
                                                    <li><a href="">Элитные люстры</a></li-->
                                            </ul>
                                        </li>
                                        <li><a href="">Место использования</a><span><svg width="8" height="6"
                                                    viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z"
                                                        fill="#000000" /></svg></span>
                                            <ul class="mobile-menuminitwo__list">
                                                <li><a href="">Для спальни</a></li>
                                                <li><a href="">Для кухни</a></li>
                                                <li><a href="">Для гостиной</a></li>
                                                <li><a href="">Для детской</a></li>
                                                <li><a href="">Для ванной</a></li>
                                                <li><a href="">Для офиса</a></li>
                                                <li><a href="">Для прихожей</a></li>
                                                <li><a href="">Для экспозиции</a></li>
                                                <li><a href="">Для больших залов</a></li>
                                                <li><a href="">Для магазина</a></li>
                                                <li><a href="">Для кафе и ресторанов</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">Стили</a><span><svg width="8" height="6" viewBox="0 0 8 6"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z"
                                                        fill="#000000" /></svg></span>
                                            <ul class="mobile-menuminitwo__list">
                                                <li><a href="">Классика</a></li>
                                                <li><a href="">Арт-деко</a></li>
                                                <li><a href="">Современный</a></li>
                                                <li><a href="">Кантри</a></li>
                                                <li><a href="">Тифани</a></li>
                                                <li><a href="">Хайтек</a></li>
                                                <li><a href="">Прованс</a></li>
                                                <li><a href="">Восточный</a></li>
                                                <li><a href="">Замковый</a></li>
                                                <li><a href="">Лофт</a></li>
                                                <li><a href="">Морской</a></li>
                                                <li><a href="">Модерн</a></li>
                                                <li><a href="">Ретро</a></li>
                                                <li><a href="">Неоклассика</a></li>
                                                <li><a href="">Дизайнерский</a></li>
                                                <li><a href="">Скандинавский</a></li>
                                                <li><a href="">Минимализм</a></li>
                                                <li><a href="">Американский</a></li>
                                                <li><a href="">Флористика</a></li>
                                                <li><a href="">Японский</a></li>
                                                <li><a href="">Эко</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="">Материалы</a><span><svg width="8" height="6" viewBox="0 0 8 6"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z"
                                                        fill="#000000" /></svg></span>
                                            <ul class="mobile-menuminitwo__list">
                                                <li><a href="">Хрустальные</a></li>
                                                <li><a href="">Деревянные</a></li>
                                                <li><a href="">Стеклянные</a></li>
                                                <li><a href="">Пластиковые</a></li>
                                                <li><a href="">Текстильные</a></li>
                                                <li><a href="">Керамические</a></li>
                                                <li><a href="">Металические</a></li>
                                                <li><a href="">Кованные</a></li>
                                                <li><a href="">Хрустальные тонированные</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    {% if key + 1 == categories|length %}
                                 
                                    {% endif %}
                                </li>
                                {% endif %}
                            {% endfor %}
                


                    <li class="mobile-menu__item"><a href="/index.php?route=common/promotions" class="mobile-menu__link">Акции</a><span><svg width="8"
                                height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                            </svg></span>
                        <ul class="mobile-menumini__list">
                            <li><a href="">Виды</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Потолочные</a></li>
                                    <li><a href="">Подвесные</a></li>
                                    <li><a href="">Каскадные</a></li>
                                    <li><a href="">Люстры на штанге</a></li>
                                    <li><a href="">Большие люстры</a></li>
                                    <li><a href="">Люстры-вентиляторы</a></li>
                                    <li><a href="">Элитные люстры</a></li>
                                </ul>
                            </li>
                            <li><a href="">Место использования</a><span><svg width="8" height="6" viewBox="0 0 8 6"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Для спальни</a></li>
                                    <li><a href="">Для кухни</a></li>
                                    <li><a href="">Для гостиной</a></li>
                                    <li><a href="">Для детской</a></li>
                                    <li><a href="">Для ванной</a></li>
                                    <li><a href="">Для офиса</a></li>
                                    <li><a href="">Для прихожей</a></li>
                                    <li><a href="">Для экспозиции</a></li>
                                    <li><a href="">Для больших залов</a></li>
                                    <li><a href="">Для магазина</a></li>
                                    <li><a href="">Для кафе и ресторанов</a></li>
                                </ul>
                            </li>
                            <li><a href="">Стили</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Классика</a></li>
                                    <li><a href="">Арт-деко</a></li>
                                    <li><a href="">Современный</a></li>
                                    <li><a href="">Кантри</a></li>
                                    <li><a href="">Тифани</a></li>
                                    <li><a href="">Хайтек</a></li>
                                    <li><a href="">Прованс</a></li>
                                    <li><a href="">Восточный</a></li>
                                    <li><a href="">Замковый</a></li>
                                    <li><a href="">Лофт</a></li>
                                    <li><a href="">Морской</a></li>
                                    <li><a href="">Модерн</a></li>
                                    <li><a href="">Ретро</a></li>
                                    <li><a href="">Неоклассика</a></li>
                                    <li><a href="">Дизайнерский</a></li>
                                    <li><a href="">Скандинавский</a></li>
                                    <li><a href="">Минимализм</a></li>
                                    <li><a href="">Американский</a></li>
                                    <li><a href="">Флористика</a></li>
                                    <li><a href="">Японский</a></li>
                                    <li><a href="">Эко</a></li>
                                </ul>
                            </li>

                            <li><a href="">Материалы</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Хрустальные</a></li>
                                    <li><a href="">Деревянные</a></li>
                                    <li><a href="">Стеклянные</a></li>
                                    <li><a href="">Пластиковые</a></li>
                                    <li><a href="">Текстильные</a></li>
                                    <li><a href="">Керамические</a></li>
                                    <li><a href="">Металические</a></li>
                                    <li><a href="">Кованные</a></li>
                                    <li><a href="">Хрустальные тонированные</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="mobile-menu__item"><a href="" class="mobile-menu__link">Бренды</a><span><svg width="8"
                                height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                            </svg></span>
                        <ul class="mobile-menumini__list">
                            <li><a href="">Виды</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Потолочные</a></li>
                                    <li><a href="">Подвесные</a></li>
                                    <li><a href="">Каскадные</a></li>
                                    <li><a href="">Люстры на штанге</a></li>
                                    <li><a href="">Большие люстры</a></li>
                                    <li><a href="">Люстры-вентиляторы</a></li>
                                    <li><a href="">Элитные люстры</a></li>
                                </ul>
                            </li>
                            <li><a href="">Место использования</a><span><svg width="8" height="6" viewBox="0 0 8 6"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Для спальни</a></li>
                                    <li><a href="">Для кухни</a></li>
                                    <li><a href="">Для гостиной</a></li>
                                    <li><a href="">Для детской</a></li>
                                    <li><a href="">Для ванной</a></li>
                                    <li><a href="">Для офиса</a></li>
                                    <li><a href="">Для прихожей</a></li>
                                    <li><a href="">Для экспозиции</a></li>
                                    <li><a href="">Для больших залов</a></li>
                                    <li><a href="">Для магазина</a></li>
                                    <li><a href="">Для кафе и ресторанов</a></li>
                                </ul>
                            </li>
                            <li><a href="">Стили</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Классика</a></li>
                                    <li><a href="">Арт-деко</a></li>
                                    <li><a href="">Современный</a></li>
                                    <li><a href="">Кантри</a></li>
                                    <li><a href="">Тифани</a></li>
                                    <li><a href="">Хайтек</a></li>
                                    <li><a href="">Прованс</a></li>
                                    <li><a href="">Восточный</a></li>
                                    <li><a href="">Замковый</a></li>
                                    <li><a href="">Лофт</a></li>
                                    <li><a href="">Морской</a></li>
                                    <li><a href="">Модерн</a></li>
                                    <li><a href="">Ретро</a></li>
                                    <li><a href="">Неоклассика</a></li>
                                    <li><a href="">Дизайнерский</a></li>
                                    <li><a href="">Скандинавский</a></li>
                                    <li><a href="">Минимализм</a></li>
                                    <li><a href="">Американский</a></li>
                                    <li><a href="">Флористика</a></li>
                                    <li><a href="">Японский</a></li>
                                    <li><a href="">Эко</a></li>
                                </ul>
                            </li>

                            <li><a href="">Материалы</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Хрустальные</a></li>
                                    <li><a href="">Деревянные</a></li>
                                    <li><a href="">Стеклянные</a></li>
                                    <li><a href="">Пластиковые</a></li>
                                    <li><a href="">Текстильные</a></li>
                                    <li><a href="">Керамические</a></li>
                                    <li><a href="">Металические</a></li>
                                    <li><a href="">Кованные</a></li>
                                    <li><a href="">Хрустальные тонированные</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="mobile-menu__item"><a href="" class="mobile-menu__link">О компании</a><span><svg
                                width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                            </svg></span>
                        <ul class="mobile-menumini__list">
                            <li><a href="">Виды</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Потолочные</a></li>
                                    <li><a href="">Подвесные</a></li>
                                    <li><a href="">Каскадные</a></li>
                                    <li><a href="">Люстры на штанге</a></li>
                                    <li><a href="">Большие люстры</a></li>
                                    <li><a href="">Люстры-вентиляторы</a></li>
                                    <li><a href="">Элитные люстры</a></li>
                                </ul>
                            </li>
                            <li><a href="">Место использования</a><span><svg width="8" height="6" viewBox="0 0 8 6"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Для спальни</a></li>
                                    <li><a href="">Для кухни</a></li>
                                    <li><a href="">Для гостиной</a></li>
                                    <li><a href="">Для детской</a></li>
                                    <li><a href="">Для ванной</a></li>
                                    <li><a href="">Для офиса</a></li>
                                    <li><a href="">Для прихожей</a></li>
                                    <li><a href="">Для экспозиции</a></li>
                                    <li><a href="">Для больших залов</a></li>
                                    <li><a href="">Для магазина</a></li>
                                    <li><a href="">Для кафе и ресторанов</a></li>
                                </ul>
                            </li>
                            <li><a href="">Стили</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Классика</a></li>
                                    <li><a href="">Арт-деко</a></li>
                                    <li><a href="">Современный</a></li>
                                    <li><a href="">Кантри</a></li>
                                    <li><a href="">Тифани</a></li>
                                    <li><a href="">Хайтек</a></li>
                                    <li><a href="">Прованс</a></li>
                                    <li><a href="">Восточный</a></li>
                                    <li><a href="">Замковый</a></li>
                                    <li><a href="">Лофт</a></li>
                                    <li><a href="">Морской</a></li>
                                    <li><a href="">Модерн</a></li>
                                    <li><a href="">Ретро</a></li>
                                    <li><a href="">Неоклассика</a></li>
                                    <li><a href="">Дизайнерский</a></li>
                                    <li><a href="">Скандинавский</a></li>
                                    <li><a href="">Минимализм</a></li>
                                    <li><a href="">Американский</a></li>
                                    <li><a href="">Флористика</a></li>
                                    <li><a href="">Японский</a></li>
                                    <li><a href="">Эко</a></li>
                                </ul>
                            </li>


                            <li><a href="">Материалы</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Хрустальные</a></li>
                                    <li><a href="">Деревянные</a></li>
                                    <li><a href="">Стеклянные</a></li>
                                    <li><a href="">Пластиковые</a></li>
                                    <li><a href="">Текстильные</a></li>
                                    <li><a href="">Керамические</a></li>
                                    <li><a href="">Металические</a></li>
                                    <li><a href="">Кованные</a></li>
                                    <li><a href="">Хрустальные тонированные</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="mobile-menu__item"><a href="" class="mobile-menu__link">Оплата и доставка</a><span><svg
                                width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                            </svg></span>
                        <ul class="mobile-menumini__list">
                            <li><a href="">Виды</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Потолочные</a></li>
                                    <li><a href="">Подвесные</a></li>
                                    <li><a href="">Каскадные</a></li>
                                    <li><a href="">Люстры на штанге</a></li>
                                    <li><a href="">Большие люстры</a></li>
                                    <li><a href="">Люстры-вентиляторы</a></li>
                                    <li><a href="">Элитные люстры</a></li>
                                </ul>
                            </li>
                            <li><a href="">Место использования</a><span><svg width="8" height="6" viewBox="0 0 8 6"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Для спальни</a></li>
                                    <li><a href="">Для кухни</a></li>
                                    <li><a href="">Для гостиной</a></li>
                                    <li><a href="">Для детской</a></li>
                                    <li><a href="">Для ванной</a></li>
                                    <li><a href="">Для офиса</a></li>
                                    <li><a href="">Для прихожей</a></li>
                                    <li><a href="">Для экспозиции</a></li>
                                    <li><a href="">Для больших залов</a></li>
                                    <li><a href="">Для магазина</a></li>
                                    <li><a href="">Для кафе и ресторанов</a></li>
                                </ul>
                            </li>
                            <li><a href="">Стили</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul class="mobile-menuminitwo__list">
                                    <li><a href="">Классика</a></li>
                                    <li><a href="">Арт-деко</a></li>
                                    <li><a href="">Современный</a></li>
                                    <li><a href="">Кантри</a></li>
                                    <li><a href="">Тифани</a></li>
                                    <li><a href="">Хайтек</a></li>
                                    <li><a href="">Прованс</a></li>
                                    <li><a href="">Восточный</a></li>
                                    <li><a href="">Замковый</a></li>
                                    <li><a href="">Лофт</a></li>
                                    <li><a href="">Морской</a></li>
                                    <li><a href="">Модерн</a></li>
                                    <li><a href="">Ретро</a></li>
                                    <li><a href="">Неоклассика</a></li>
                                    <li><a href="">Дизайнерский</a></li>
                                    <li><a href="">Скандинавский</a></li>
                                    <li><a href="">Минимализм</a></li>
                                    <li><a href="">Американский</a></li>
                                    <li><a href="">Флористика</a></li>
                                    <li><a href="">Японский</a></li>
                                    <li><a href="">Эко</a></li>
                                </ul>
                            </li>

                            <li><a href="">Материалы</a><span><svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000" />
                                    </svg></span>
                                <ul id="myDropdown" class="mobile-menuminitwo__list">
                                    <li><a href="">Хрустальные</a></li>
                                    <li><a href="">Деревянные</a></li>
                                    <li><a href="">Стеклянные</a></li>
                                    <li><a href="">Пластиковые</a></li>
                                    <li><a href="">Текстильные</a></li>
                                    <li><a href="">Керамические</a></li>
                                    <li><a href="">Металические</a></li>
                                    <li><a href="">Кованные</a></li>
                                    <li><a href="">Хрустальные тонированные</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    </ul>

                </div>
            </nav>
            <div class="page-header__logo-wrapper"><a href="/">
                    <img src="/image/{{logo}}" alt="Логотип компании">
                </a></div>

            <div class="header__info-wrapper">
                <ul class="header__info-list">
                    <li class="header__info-item">
                        <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.7612 10.5079L9.79479 7.81083C9.65456 7.68339 9.4703 7.61542 9.28091 7.62127C9.09151 7.62713 8.9118 7.70635 8.77972 7.84221L7.03345 9.63809C6.61312 9.55782 5.76808 9.29438 4.89823 8.42673C4.02837 7.55616 3.76494 6.70893 3.68686 6.29153L5.48129 4.54454C5.61732 4.41255 5.69666 4.23281 5.70252 4.04336C5.70837 3.85391 5.64029 3.66962 5.51267 3.52948L2.81628 0.563835C2.6886 0.423257 2.51116 0.337986 2.32162 0.326131C2.13209 0.314277 1.9454 0.376774 1.80121 0.500349L0.217669 1.85839C0.0915045 1.98501 0.0162014 2.15353 0.00604369 2.33198C-0.00490243 2.51442 -0.213608 6.83591 3.13736 10.1883C6.0607 13.1109 9.72254 13.3247 10.731 13.3247C10.8785 13.3247 10.9689 13.3203 10.993 13.3189C11.1715 13.3089 11.3399 13.2332 11.4659 13.1065L12.8232 11.5223C12.9473 11.3785 13.0102 11.192 12.9986 11.0025C12.9871 10.813 12.9018 10.6355 12.7612 10.5079Z"
                                fill="#242424" />
                        </svg>
                        <div class="phone-tablet__wrapper">
                        <a href="tel:{{phone}}">{{phone}}</a>
                        <a href="tel:{{phone}}">{{phone}}</a>
                        </div>
                    </li>
                    <li class="header__info-item">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6 0C2.6916 0 0 2.6916 0 6C0 9.3084 2.6916 12 6 12C9.3084 12 12 9.3084 12 6C12 2.6916 9.3084 0 6 0ZM9.45 6.6H5.4V2.4H6.6V5.4H9.45V6.6Z"
                                fill="#242424" />
                        </svg>
                        <a href="">{{open}}</a>
                    </li>
                    <li class="header__info-item">
                        <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3.15876 0.797266C5.38206 0.610547 7.61794 0.610547 9.84124 0.797266L10.9124 0.887225C11.6255 0.947111 12.2362 1.35803 12.5526 1.94581C12.5931 2.021 12.5628 2.11204 12.4882 2.15666L8.04394 4.81464C7.09078 5.3847 5.88891 5.39666 4.9238 4.84569L0.449859 2.29157C0.377578 2.25031 0.3444 2.16536 0.376975 2.0906C0.666467 1.42622 1.31731 0.951916 2.0876 0.887225L3.15876 0.797266Z"
                                fill="#242424" />
                            <path
                                d="M0.373334 3.44178C0.262714 3.37863 0.121567 3.44658 0.108673 3.57009C-0.0712935 5.2939 -0.0277366 7.03402 0.239343 8.74993C0.380143 9.65452 1.14431 10.348 2.0876 10.4272L3.15876 10.5172C5.38206 10.7039 7.61794 10.7039 9.84124 10.5172L10.9124 10.4272C11.8557 10.348 12.6199 9.65452 12.7607 8.74993C13.0355 6.98402 13.0736 5.19246 12.875 3.41944C12.8611 3.29505 12.7175 3.22835 12.6074 3.2942L8.60393 5.68859C7.31436 6.45985 5.6883 6.47603 4.38256 5.7306L0.373334 3.44178Z"
                                fill="#242424" />
                        </svg>
                        <a href="mailto:{{email}}">{{email}}</a>
                    </li>


                    <li class="header__info-item page-header__option-city">
                        <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3.03169 5.47926C3.03169 4.32222 3.91293 3.38425 4.99999 3.38425C6.08704 3.38425 6.96828 4.32222 6.96828 5.47926C6.96828 6.63631 6.08704 7.57428 4.99999 7.57428C3.91293 7.57428 3.03169 6.63631 3.03169 5.47926Z"
                                fill="#242424" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0.0178068 4.75561C0.225924 2.06823 2.33581 0 4.8692 0H5.1308C7.66419 0 9.77408 2.06823 9.98219 4.75561C10.0942 6.20252 9.67434 7.63924 8.81092 8.76316L5.9081 12.5418C5.43876 13.1527 4.56124 13.1527 4.0919 12.5418L1.18908 8.76317C0.325662 7.63925 -0.0942456 6.20252 0.0178068 4.75561ZM4.99999 2.41732C3.41121 2.41732 2.12325 3.7882 2.12325 5.47926C2.12325 7.17033 3.41121 8.54121 4.99999 8.54121C6.58876 8.54121 7.87672 7.17033 7.87672 5.47926C7.87672 3.7882 6.58876 2.41732 4.99999 2.41732Z"
                                fill="#242424" />
                        </svg>
                        <a id="cityactive">{{address}}</a>
                    </li>

                    <li class="header__info-item page-header__option-tel">
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.57797 10.5949C4.48852 9.39244 2.00358 7.1744 0.607063 4.38462L0.606494 4.38348L0.228952 3.62178C-0.287516 2.5798 0.0938829 1.34806 1.13037 0.710615L2.10164 0.113279C2.41526 -0.0795968 2.83756 -0.0208006 3.07464 0.248747L4.84534 2.26189C5.10541 2.55758 5.04484 2.99237 4.71206 3.21857L3.79587 3.84132C4.65528 5.4393 6.06977 6.73668 7.812 7.52494L8.49097 6.6846C8.73759 6.37937 9.21163 6.32381 9.534 6.56235L11.7288 8.18639C12.0227 8.40389 12.0868 8.79133 11.8764 9.07898L11.2292 9.96373C10.5382 10.9085 9.20623 11.2603 8.0732 10.7973L7.57797 10.5949Z"
                                fill="#DC3F3F" />
                            <path
                                d="M6.98323 3.80947C6.98323 3.94242 7.04081 4.06992 7.1433 4.16393C7.2458 4.25794 7.38482 4.31076 7.52977 4.31076H10.3196C10.6215 4.31076 10.8662 4.08632 10.8662 3.80947C10.8662 3.53261 10.6215 3.30818 10.3196 3.30818H8.84923L11.1513 1.19674C11.3647 1.00097 11.3647 0.683571 11.1513 0.487805C10.9378 0.292039 10.5918 0.292039 10.3783 0.487805L8.07631 2.59925V1.2506C8.07631 0.973742 7.83161 0.749307 7.52977 0.749306C7.22792 0.749306 6.98323 0.973742 6.98323 1.2506V3.80947Z"
                                fill="#DC3F3F" />
                        </svg>
                        <a>Обратный звонок</a>
                    </li>

                    <li class="header__info-item page-header__option-message">
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.76861 0C2.03999 0 -0.500354 3.89277 0.906444 7.4507L1.50786 8.97173C1.56167 9.10784 1.52233 9.2642 1.41112 9.35623L0.139391 10.4086C0.0326793 10.4969 -0.00832525 10.6449 0.037099 10.778C0.0825231 10.911 0.204484 11 0.341347 11H5.3859C8.49686 11 11.0188 8.40147 11.0188 5.19602C11.0188 2.32634 8.76104 0 5.97595 0H5.76861Z"
                                fill="#DC3F3F" />
                        </svg>
                        <a>Написать нам</a>
                    </li>

                </ul>
            </div>

            <div class="mobile-menu__iconcontainer-big mobile-menu__iconcontainer-big-desktop">

                <div>
                    <a href='/index.php?route=account/wishlist'><div class="page-header__option">
                    <div class="izbrannoecount" id="countizbrannoe"></div>
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.4665 8.69668L13.763 8.03241L10.7524 0.939697L7.74174 8.04312L0.0383301 8.69668L5.88821 13.7644L4.1311 21.2964L10.7524 17.3001L17.3737 21.2964L15.6273 13.7644L21.4665 8.69668ZM10.7524 15.2965L6.72391 17.7286L7.79531 13.143L4.23824 10.0574L8.93101 9.65023L10.7524 5.33246L12.5845 9.66095L17.2773 10.0681L13.7202 13.1537L14.7916 17.7394L10.7524 15.2965Z"
                                fill="#242424"></path>
                        </svg></div><span>Избранное</span></a>
                </div>

                <div>
                    <a class="page-header__option-screach">
                        <div class="page-header__option">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.55013 18.5192C11.5583 18.5188 13.5086 17.8465 15.0905 16.6094L20.0641 21.583L21.6639 19.9832L16.6903 15.0096C17.9281 13.4276 18.6008 11.4768 18.6012 9.4681C18.6012 4.47754 14.5407 0.416992 9.55013 0.416992C4.55958 0.416992 0.499023 4.47754 0.499023 9.4681C0.499023 14.4587 4.55958 18.5192 9.55013 18.5192ZM9.55013 2.67977C13.2939 2.67977 16.3385 5.72433 16.3385 9.4681C16.3385 13.2119 13.2939 16.2564 9.55013 16.2564C5.80637 16.2564 2.7618 13.2119 2.7618 9.4681C2.7618 5.72433 5.80637 2.67977 9.55013 2.67977Z"
                                    fill="#242424"></path>
                            </svg>
                            <div id="moving_block-desktop">
                                <span class="moving__close"><svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.0992 0.89624L7.94726 6.17502L2.79535 0.89624L1.49585 2.22774L6.64776 7.50652L1.49585 12.7853L2.79535 14.1168L7.94726 8.83802L13.0992 14.1168L14.3987 12.7853L9.24676 7.50652L14.3987 2.22774L13.0992 0.89624Z"
                                            fill="#F2F2F2"></path>
                                    </svg>
                                </span>
                                <input type="text" placeholder="Vele luce">
                            </div>
                        </div><span>Поиск</span>
                    </a></div>

                <div>
                    <a href='/index.php?route=product/compare'><div class="page-header__option">
                     <div class="sravneniecount" id="countsravnenie"></div>
                    <svg width="30" height="14" viewBox="0 0 30 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.294556" y="0.794678" width="12.4106" height="12.4106" rx="3" fill="#242424">
                            </rect>
                            <rect x="17.5454" y="0.794678" width="12.4106" height="12.4106" rx="6.20529" fill="#242424">
                            </rect>
                        </svg>
                    </div><span>Сравнение</span></a>
                </div>

                <div>
                    <div class="page-header__option page-header__option-log"><svg width="29" height="28" viewBox="0 0 29 28" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.4996 4.51807C12.1193 4.51807 10.1896 6.44772 10.1896 8.82807C10.1896 11.2084 12.1193 13.1381 14.4996 13.1381C16.88 13.1381 18.8096 11.2084 18.8096 8.82807C18.8096 6.44772 16.88 4.51807 14.4996 4.51807Z"
                                fill="#242424"></path>
                            <path
                                d="M9.90229 15.4368C7.52194 15.4368 5.59229 17.3664 5.59229 19.7468V21.1125C5.59229 21.9782 6.21969 22.7164 7.07409 22.8558C11.9919 23.6588 17.0074 23.6588 21.9252 22.8558C22.7796 22.7164 23.407 21.9782 23.407 21.1125V19.7468C23.407 17.3664 21.4773 15.4368 19.097 15.4368H18.7052C18.4932 15.4368 18.2825 15.4703 18.0809 15.5361L17.0861 15.8609C15.4055 16.4097 13.5938 16.4097 11.9132 15.8609L10.9184 15.5361C10.7168 15.4703 10.5061 15.4368 10.2941 15.4368H9.90229Z"
                                fill="#242424"></path>
                        </svg></div><span>Войти</span>
                </div>
            </div>

            <div class="page__header-basket-tablet">
             <div class="basketcount" id="countbasket"></div>
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.3051 2.69639H3.94988L2.80878 0.665599C2.6807 0.437654 2.4384 0.296387 2.1755 0.296387H0.725167C0.324668 0.296387 0 0.618742 0 1.01639C0 1.41403 0.324668 1.73639 0.725167 1.73639H1.74968L2.87581 3.74053L5.47295 9.44603L5.47561 9.45186L5.70437 9.95439L3.09682 12.716C2.90933 12.9145 2.85064 13.2011 2.94513 13.4566C3.03963 13.7121 3.27115 13.8928 3.54351 13.9237L5.92026 14.1934C8.89313 14.5308 11.895 14.5308 14.8679 14.1934L17.2447 13.9237C17.6426 13.8786 17.9283 13.5217 17.8828 13.1266C17.8373 12.7316 17.4779 12.4479 17.08 12.493L14.7032 12.7627C11.8398 13.0877 8.94838 13.0877 6.08494 12.7627L5.14172 12.6557L7.05556 10.6288C7.07407 10.6092 7.09127 10.5889 7.10714 10.5678L7.83503 10.6619C8.85503 10.7937 9.88608 10.8195 10.9115 10.739C13.303 10.5512 15.5196 9.42127 17.067 7.6011L17.626 6.94367C17.6447 6.92159 17.6621 6.89841 17.6781 6.87425L18.7198 5.29807C19.4582 4.18086 18.651 2.69639 17.3051 2.69639Z"
                        fill="#D1D1D1"></path>
                    <path
                        d="M5.07617 15.4164C4.27518 15.4164 3.62584 16.0611 3.62584 16.8564C3.62584 17.6517 4.27518 18.2964 5.07617 18.2964C5.87717 18.2964 6.52651 17.6517 6.52651 16.8564C6.52651 16.0611 5.87717 15.4164 5.07617 15.4164Z"
                        fill="#D1D1D1"></path>
                    <path
                        d="M14.2616 16.8564C14.2616 16.0611 14.911 15.4164 15.712 15.4164C16.513 15.4164 17.1623 16.0611 17.1623 16.8564C17.1623 17.6517 16.513 18.2964 15.712 18.2964C14.911 18.2964 14.2616 17.6517 14.2616 16.8564Z"
                        fill="#D1D1D1"></path>
                </svg>
                <div>
                <span><a href='/cart'>Корзина</a></span><br>
                <span>100 000 р</span>
                </div>
                <div id="call-back-basket" class="basket__popup-wrapper" style="display: none;">
                <ul class="basket__popup-list">
                    <li>
                            <img src="../img/lustra.png" alt="">
                            <div class="item-basket__copiright">
                                <div>Vele Luce Licia VL1924L06</div>
                                <span>Италия</span>
                                <div>100 000₽</div>
                            </div>
                    </li>
                    
                     <li>
                            <img src="../img/lustra.png" alt="">
                            <div class="item-basket__copiright">
                                <div>Vele Luce Licia VL1924L06</div>
                                <span>Италия</span>
                                <div>100 000₽</div>
                            </div>
                    </li>
                    
                     <li>
                            <img src="../img/lustra.png" alt="">
                            <div class="item-basket__copiright">
                                <div>Vele Luce Licia VL1924L06</div>
                                <span>Италия</span>
                                <div>100 000₽</div>
                            </div>
                    </li>
                    <div class="log__popup-close"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5178 8.94041L18.1032 1.35509C18.5792 0.879035 19.351 0.879035 19.8271 1.35509C20.3031 1.83114 20.3032 2.60296 19.8271 3.07901L12.2429 10.6632L19.8271 18.2474C20.3032 18.7235 20.3031 19.4953 19.8271 19.9713C19.351 20.4474 18.5792 20.4474 18.1032 19.9713L10.5178 12.386L2.93253 19.9713C2.45648 20.4474 1.68465 20.4474 1.2086 19.9713C0.73255 19.4953 0.73255 18.7235 1.2086 18.2474L8.7928 10.6632L1.2086 3.07901C0.732551 2.60296 0.732552 1.83113 1.2086 1.35508C1.68465 0.879034 2.45648 0.879034 2.93253 1.35508L10.5178 8.94041Z" fill="#242424"></path>
        </svg>
        </div>
                    <div class="basket__popup-price-eshe">И еще 25 позиций</div>
                    <div class="basket__popup-price-end">
                            <div>
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.0973 3.70312H4.88866L3.5892 1.37391C3.44334 1.11247 3.16741 0.950439 2.86804 0.950439H1.21643C0.76035 0.950439 0.390625 1.32016 0.390625 1.77624C0.390625 2.23232 0.76035 2.60205 1.21643 2.60205H2.38312L3.66554 4.9007L6.6231 11.4446L6.62613 11.4513L6.88663 12.0277L3.91721 15.1951C3.7037 15.4228 3.63687 15.7515 3.74447 16.0445C3.85208 16.3376 4.11574 16.5449 4.4259 16.5803L7.13248 16.8896C10.5179 17.2766 13.9364 17.2766 17.3219 16.8896L20.0284 16.5803C20.4816 16.5285 20.8069 16.1192 20.7551 15.6661C20.7034 15.213 20.294 14.8876 19.8409 14.9394L17.1343 15.2487C13.8735 15.6214 10.5808 15.6214 7.32002 15.2487L6.2459 15.126L8.42534 12.8012C8.44642 12.7787 8.466 12.7554 8.48408 12.7313L9.31298 12.8391C10.4745 12.9903 11.6487 13.0199 12.8164 12.9276C15.5398 12.7122 18.0639 11.4162 19.8262 9.32858L20.4627 8.57454C20.484 8.54922 20.5039 8.52263 20.5221 8.49492L21.7083 6.68712C22.5492 5.40573 21.6299 3.70312 20.0973 3.70312Z" fill="#DC3F3F"></path>
<path d="M6.17126 18.2923C5.2591 18.2923 4.51965 19.0318 4.51965 19.9439C4.51965 20.8561 5.2591 21.5955 6.17126 21.5955C7.08341 21.5955 7.82286 20.8561 7.82286 19.9439C7.82286 19.0318 7.08341 18.2923 6.17126 18.2923Z" fill="#DC3F3F"></path>
<path d="M16.6314 19.9439C16.6314 19.0318 17.3709 18.2923 18.283 18.2923C19.1952 18.2923 19.9347 19.0318 19.9347 19.9439C19.9347 20.8561 19.1952 21.5955 18.283 21.5955C17.3709 21.5955 16.6314 20.8561 16.6314 19.9439Z" fill="#DC3F3F"></path>
</svg>
                            </div>
                            
                            <div>
                                <span>100 000 000₽</span>
                                <span>9999 товаров</span>
                            </div>
                            
                            <div>
                                <a href="/index.php?route=checkout/cart" onclick="open('/index.php?route=checkout/cart')">Оформить заказ </a>
                            </div>
                    </div>
                    
                </ul>
            </div>
            </div>

            <div class="page-header__option-wrapper">
                <a>
                    <div class="page-header__option page-header__option-tel"><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.367 17.3322C6.73279 15.3658 3.00537 11.7384 0.910594 7.17598L0.909741 7.17412L0.343428 5.92843C-0.431273 4.22438 0.140824 2.20999 1.69556 1.16751L3.15247 0.190627C3.62289 -0.124802 4.25634 -0.0286463 4.61196 0.412173L7.26801 3.70447C7.65812 4.18803 7.56725 4.8991 7.06809 5.26902L5.69381 6.28747C6.98293 8.90082 9.10465 11.0225 11.718 12.3117L12.7365 10.9374C13.1064 10.4382 13.8174 10.3473 14.301 10.7375L17.5932 13.3934C18.0341 13.7491 18.1302 14.3827 17.8146 14.8531L16.8438 16.3001C15.8072 17.8451 13.8093 18.4204 12.1098 17.6632L11.367 17.3322Z"
                                fill="#242424" />
                            <path
                                d="M10.4748 6.23538C10.4748 6.45281 10.5612 6.66133 10.715 6.81507C10.8687 6.96882 11.0772 7.05519 11.2947 7.05519H15.4794C15.9322 7.05519 16.2992 6.68815 16.2992 6.23538C16.2992 5.78261 15.9322 5.41557 15.4794 5.41557H13.2738L16.7269 1.96252C17.0471 1.64236 17.0471 1.12328 16.7269 0.803127C16.4067 0.482972 15.8877 0.482972 15.5675 0.803127L12.1145 4.25618V2.0506C12.1145 1.59783 11.7474 1.23079 11.2947 1.23079C10.8419 1.23079 10.4748 1.59783 10.4748 2.0506V6.23538Z"
                                fill="#242424" />
                        </svg></div>
                </a>

                <a class="page-header__option-city">
                    <div class="page-header__option"><svg width="17" height="20" viewBox="0 0 17 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.89148 8.42964C4.89148 6.64957 6.30145 5.20654 8.04075 5.20654C9.78004 5.20654 11.19 6.64957 11.19 8.42964C11.19 10.2097 9.78004 11.6527 8.04075 11.6527C6.30145 11.6527 4.89148 10.2097 4.89148 8.42964Z"
                                fill="#242424" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0.0692623 7.31632C0.40225 3.18189 3.77807 0 7.8315 0H8.25005C12.3035 0 15.6793 3.18189 16.0123 7.31632C16.1916 9.54234 15.5197 11.7527 14.1382 13.4818L9.49374 19.2951C8.74278 20.235 7.33876 20.235 6.58781 19.2951L1.9433 13.4818C0.561831 11.7527 -0.110021 9.54234 0.0692623 7.31632ZM8.04075 3.71896C5.4987 3.71896 3.43797 5.828 3.43797 8.42964C3.43797 11.0313 5.4987 13.1403 8.04075 13.1403C10.5828 13.1403 12.6435 11.0313 12.6435 8.42964C12.6435 5.828 10.5828 3.71896 8.04075 3.71896Z"
                                fill="#242424" />
                        </svg></div>
                </a>

                <a class="page-header__option-screach">
                    <div class="page-header__option">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.55013 18.5192C11.5583 18.5188 13.5086 17.8465 15.0905 16.6094L20.0641 21.583L21.6639 19.9832L16.6903 15.0096C17.9281 13.4276 18.6008 11.4768 18.6012 9.4681C18.6012 4.47754 14.5407 0.416992 9.55013 0.416992C4.55958 0.416992 0.499023 4.47754 0.499023 9.4681C0.499023 14.4587 4.55958 18.5192 9.55013 18.5192ZM9.55013 2.67977C13.2939 2.67977 16.3385 5.72433 16.3385 9.4681C16.3385 13.2119 13.2939 16.2564 9.55013 16.2564C5.80637 16.2564 2.7618 13.2119 2.7618 9.4681C2.7618 5.72433 5.80637 2.67977 9.55013 2.67977Z"
                                fill="#242424" />
                        </svg>
                        <div id="moving_block">
                            <span class="moving__close"><svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.0992 0.89624L7.94726 6.17502L2.79535 0.89624L1.49585 2.22774L6.64776 7.50652L1.49585 12.7853L2.79535 14.1168L7.94726 8.83802L13.0992 14.1168L14.3987 12.7853L9.24676 7.50652L14.3987 2.22774L13.0992 0.89624Z"
                                        fill="#F2F2F2" />
                                </svg>
                            </span>
                            <input type="text" placeholder="Vele luce">
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </header>