{{header}}
<main class="page-main">
        <div class="page-main__wrapper">

            <section class="intro">
                <div class="intro__wrapper">
                    <div class="intro__slide-wrapper">
                       
                    <div class="intro__slide">
                        {% for key, marketing in marketings %}
                            <a href='/index.php?route=checkout/marketing&tracking={{marketing.code}}'><div class="slide"><img src="/image/{{marketing.image}}" key="{{key}}" alt="{{marketing.name}}"></div></a>
                        {% endfor %}                           
                    </div>
                </div>
                <div class="introinfo__mob">
                    <h1 class="intro__title">Интернет-магазин света Luminare</h1>
                    <div>Предварительные выводы неутешительны: начало повседневной работы по формированию позиции
                        выявляет срочную потребность приоритизации разума над эмоциями.</div>

                    <a href='/index.php?route=common/catalog'><h2>В каталог<span><svg width="14" height="12" viewBox="0 0 8 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#DC3F3F" />
                            </svg></span></h2></a>
                        </div>
                    <ul class="intro__list">
                        <li><a href=""><img src="../img/ucenka.png" alt="Каталог уцененных товаров"></a></li>
                        <li><h1 class="intro__title">Интернет-магазин света Luminare</h1>
                            <div>Предварительные выводы неутешительны: начало повседневной работы по формированию позиции
                                выявляет срочную потребность приоритизации разума над эмоциями.</div>
        
                            <a href='/index.php?route=common/catalog'><h2>В каталог<span><svg width="14" height="12" viewBox="0 0 8 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#DC3F3F" />
                                    </svg></span></h2></a></li>
                        <li><a href=""><img src="../img/sale.png" alt="Каталог распродажи"></a></li>
                        <li><a href=""><img src="../img/download_photo.png" alt="Поиск по фото"></a></li>

                    </ul>
                </div>
            </section>

            <section class="popularcategories">
                <div class="popularcategories__wrapper">
                    <h2>Популярные категории</h2>
                    <ul class="popularcategories__list">
                        {% for key, category in popular_categories %}
                            {% if key == 2 or key == 3 or key == 9 or key == 10%}
                                <li><a href="{{category.href}}"><img src="/image/{{category.image_mini}}" alt=""><span>{{category.name}}</span></a></li>
                            {% else %}
                                <li><a href="{{category.href}}"><img src="/image/{{category.image}}" alt=""><span>{{category.name}}</span></a></li>
                            {% endif %}
                        {% endfor %}                       
                        <!--li><a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a></li>
                        <li><a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a></li>
                        <li><a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a></li>
                        <li><a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a></li>
                        <li><a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a></li>
                        <li><a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a></li>
                        <li><a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a></li>
                        <li><a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a></li-->
                    </ul>
                </div>
            </section>

            <section class="bestseller">
                <div class="bestseller__wrapper">
                    <h2>Эксклюзивы</h2>

                    <div class="slide__wrapper">
                        {% for p in exclusives %}
                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                              <img class="slide" src="/image/{{p.image}}" alt="">
                              {% for i in p.images %}
                              <img class="slide" src="/image/{{i.image}}" alt="">
                              {% endfor %}
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                             <h3>{{p.name}}</h3>
                              <div>{{p.attributes.1.attribute.2.text}}&nbsp;{{p.attributes.1.attribute.5.text}}&nbsp;{{p.attributes.1.attribute.1.text}}</div>
                              <span>{{p.manufacturer}}&nbsp;({{p.attributes.1.attribute.3.text}})</span>
                              <div class="price-wrapper">
                                  <span>{{p.price|number_format(0, '.', ' ')}}₽</span>
                                 <div class="addbasket"><a>В корзину</a></div>
                              </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <div class="addsravnenie"><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg></div>
                                       <div class="addizbrannoe"><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg></div>
                                            
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </section>

            <section class="bestseller">
                <div class="bestseller__wrapper">
                    <h2>Новинки</h2>

                    <div class="slide__wrapper">

                        {% for p in new_products %}
                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                              <img class="slide" src="/image/{{p.image}}" alt="">
                              {% for i in p.images %}
                              <img class="slide" src="/image/{{i.image}}" alt="">
                              {% endfor %}
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                             <h3>{{p.name}}</h3>
                              <div>{{p.attributes.1.attribute.2.text}}&nbsp;{{p.attributes.1.attribute.5.text}}&nbsp;{{p.attributes.1.attribute.1.text}}</div>
                              <span>{{p.manufacturer}}&nbsp;({{p.attributes.1.attribute.3.text}})</span>
                              <div class="price-wrapper">
                                  <span>{{p.price|number_format(0, '.', ' ')}}₽</span>
                                 <div class="addbasket"><a>В корзину</a></div>
                              </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <div class="addsravnenie"><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg></div>
                                       <div class="addizbrannoe"><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg></div>
                                            
                            </div>
                        </div>
                        {% endfor %}                        
                    </div>                    
                </div>
            </section>

            <section class="bestseller">
                <div class="bestseller__wrapper">
                    <h2>Распродажа</h2>

                    <div class="slide__wrapper">

                        {% for p in sale %}
                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                              <img class="slide" src="/image/{{p.image}}" alt="">
                              {% for i in p.images %}
                              <img class="slide" src="/image/{{i.image}}" alt="">
                              {% endfor %}
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>{{p.name}}</h3>
                              <div>{{p.attributes.1.attribute.2.text}}&nbsp;{{p.attributes.1.attribute.5.text}}&nbsp;{{p.attributes.1.attribute.1.text}}</div>
                              <span>{{p.manufacturer}}&nbsp;({{p.attributes.1.attribute.3.text}})</span>
                              <div class="price-wrapper">
                                  <span>{{p.price|number_format(0, '.', ' ')}}₽</span>
                                 <div class="addbasket"><a>В корзину</a></div>
                              </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <div class="addsravnenie"><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg></div>
                                       <div class="addizbrannoe"><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg></div>
                                            
                            </div>
                        </div>
                        {% endfor %}  
                    </div>
                </div>
            </section>

            <section class="how-order">
                <div class="how-order__wrapper">
                  
                    <ul class="how-order__list">
                        <li><span><svg width="61" height="64" viewBox="0 0 61 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.571289" y="0.310547" width="60" height="63.2358" rx="10" fill="#DC3F3F"/>
                            <path d="M44.3175 25.9248C44.024 25.518 43.8772 25.3145 43.6627 25.2048C43.4482 25.095 43.1973 25.095 42.6956 25.095H40.7886C39.8458 25.095 39.3743 25.095 39.0815 24.8021C38.7886 24.5092 38.7886 24.0378 38.7886 23.095V20.2617C38.7886 19.3189 38.7886 18.8475 38.4957 18.5546C38.2028 18.2617 37.7314 18.2617 36.7886 18.2617H15.7806C13.9729 18.2617 12.4938 19.7992 12.4938 21.6784V38.8266C12.4938 39.4276 12.4938 39.7282 12.6188 39.9541C12.7097 40.1185 12.8452 40.254 13.0097 40.345C13.2356 40.47 13.5361 40.47 14.1372 40.47C14.7055 40.47 14.9897 40.47 15.1788 40.5513C15.3515 40.6256 15.416 40.6727 15.5392 40.8147C15.6741 40.9702 15.7928 41.3428 16.0303 42.0881C16.6802 44.1281 18.5271 45.595 20.7109 45.595C22.773 45.595 24.5346 44.2871 25.2718 42.4238C25.6959 41.3519 25.908 40.8159 26.1625 40.643C26.4169 40.47 26.825 40.47 27.6412 40.47H33.5017C34.3179 40.47 34.7259 40.47 34.9804 40.643C35.2349 40.8159 35.4469 41.3519 35.8711 42.4238C36.6083 44.2871 38.3699 45.595 40.432 45.595C42.6158 45.595 44.4627 44.1281 45.1126 42.0881C45.3501 41.3428 45.4688 40.9702 45.6037 40.8147C45.7269 40.6727 45.7914 40.6256 45.9641 40.5513C46.1532 40.47 46.4374 40.47 47.0057 40.47C47.6068 40.47 47.9073 40.47 48.1332 40.345C48.2977 40.254 48.4331 40.1185 48.5241 39.9541C48.6491 39.7282 48.6491 39.4276 48.6491 38.8266V32.5745C48.6491 32.2541 48.6491 32.0939 48.6007 31.944C48.5522 31.7941 48.4585 31.6642 48.271 31.4043L44.3175 25.9248ZM20.7109 43.0325C19.3469 43.0325 18.2458 41.8879 18.2458 40.47C18.2458 39.0521 19.3469 37.9075 20.7109 37.9075C22.0749 37.9075 23.176 39.0521 23.176 40.47C23.176 41.8879 22.0749 43.0325 20.7109 43.0325ZM41.9005 27.6575C42.3896 27.6575 42.6342 27.6575 42.8448 27.7625C43.0555 27.8675 43.2027 28.0627 43.4972 28.4532L43.7015 28.724C44.7556 30.1216 45.2826 30.8204 45.0065 31.3744C44.7304 31.9283 43.8552 31.9283 42.1047 31.9283H40.7886C39.8458 31.9283 39.3743 31.9283 39.0815 31.6354C38.7886 31.3426 38.7886 30.8712 38.7886 29.9283V29.6575C38.7886 28.7147 38.7886 28.2433 39.0815 27.9504C39.3743 27.6575 39.8458 27.6575 40.7886 27.6575H41.9005ZM40.432 43.0325C39.0679 43.0325 37.9668 41.8879 37.9668 40.47C37.9668 39.0521 39.0679 37.9075 40.432 37.9075C41.796 37.9075 42.8971 39.0521 42.8971 40.47C42.8971 41.8879 41.796 43.0325 40.432 43.0325Z" fill="white"/>
                            </svg></span><div>Доставка на следующий день</div></li>
                        <li><span><svg width="61" height="65" viewBox="0 0 61 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.583008" y="0.9375" width="60" height="63.2356" rx="10" fill="#DC3F3F"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.0793 18.5175L30.5831 18.1992L18.087 18.5175C15.5618 18.574 13.421 20.5772 12.9645 23.3107C11.9437 29.4226 11.9437 35.688 12.9645 41.7999C13.421 44.5335 15.5618 46.5366 18.087 46.5931L30.5831 46.9114L43.0793 46.5931C45.6045 46.5366 47.7453 44.5335 48.2018 41.7999C49.2226 35.688 49.2226 29.4226 48.2018 23.3107C47.7453 20.5772 45.6045 18.574 43.0793 18.5175ZM46.2379 30.6412C46.2379 31.6983 45.4591 32.5553 44.4985 32.5553H16.6678C15.7071 32.5553 14.9284 31.6983 14.9284 30.6412C14.9284 29.5841 15.7071 28.7271 16.6678 28.7271H44.4985C45.4591 28.7271 46.2379 29.5841 46.2379 30.6412Z" fill="white"/>
                            </svg></span><div>Онлайн-оплата</div></li>
                        <li><span><svg width="61" height="64" viewBox="0 0 61 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.571289" y="0.564453" width="60" height="63.2358" rx="10" fill="#DC3F3F"/>
                            <path d="M45.2251 31.4826L31.2097 16.4805C30.6491 15.8804 29.8705 15.5137 29.014 15.5137H18.1131C16.4001 15.5137 14.9985 17.0139 14.9985 18.8475V30.5158C14.9985 31.4325 15.3411 32.266 15.9173 32.8828L29.9327 47.8848C30.4934 48.4849 31.272 48.8516 32.1285 48.8516C32.985 48.8516 33.7636 48.4849 34.3242 47.8682L45.2251 36.1999C45.8013 35.5998 46.1439 34.7663 46.1439 33.8496C46.1439 32.9328 45.7857 32.0826 45.2251 31.4826ZM20.449 23.8482C19.1564 23.8482 18.1131 22.7313 18.1131 21.3478C18.1131 19.9643 19.1564 18.8475 20.449 18.8475C21.7415 18.8475 22.7849 19.9643 22.7849 21.3478C22.7849 22.7313 21.7415 23.8482 20.449 23.8482Z" fill="white"/>
                            </svg>
                            </span><div>Оптовый заказ от 5 позиций</div></li>
                            <li><span><svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.313416" width="60" height="60" rx="10" fill="#DC3F3F"/>
                                <path d="M16.9801 40.6667H19.6467C20.3801 40.6667 20.9801 40.0667 20.9801 39.3333V27.3333C20.9801 26.6 20.3801 26 19.6467 26H16.9801V40.6667ZM43.4201 31.1733C43.5667 30.84 43.6467 30.48 43.6467 30.1067V28.6667C43.6467 27.2 42.4467 26 40.9801 26H33.6467L34.8734 19.8C34.9401 19.5067 34.9001 19.1867 34.7667 18.92C34.4601 18.32 34.0734 17.7733 33.5934 17.2933L32.9801 16.6667L24.4334 25.2133C23.9267 25.72 23.6467 26.4 23.6467 27.1067V37.56C23.6467 39.2667 25.0467 40.6667 26.7667 40.6667H37.5801C38.5134 40.6667 39.3934 40.1733 39.8734 39.3733L43.4201 31.1733Z" fill="white"/>
                                </svg>                                
                                </span><div>Более 200 000 довольных клиентов</div></li>
                    </ul>
                </div>
            </section>

            <section class="brand-best">
                <div class="brand-best__wrapper">
                    <div class="brand-best__copiright-wrapper">
                    <h2>Лучшие бренды</h2>
                    <div>Предварительные выводы неутешительны: начало повседневной работы по формированию позиции выявляет срочную потребность приоритизации разума над эмоциями.</div>
                    <h3>Все бренды<span><svg width="14" height="12" viewBox="0 0 8 6" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#DC3F3F" />
                    </svg></span></h3>
                </div>
                    <ul class="brand-best__list">
                        {% for m in manufacturers %}
                            <li><img src="/image/{{m.image}}" alt=""></li>
                        {% endfor %}
                        <!--li><img src="../img/slv.png" alt=""></li>
                        <li><img src="../img/paul.png" alt=""></li>
                        <li><img src="../img/luce.png" alt=""></li>
                        <li><img src="../img/elektro.png" alt=""></li>
                        <li><img src="../img/agels.png" alt=""></li>
                        <li><img src="../img/lightstar.png" alt=""></li>
                        <li><img src="../img/gauss.png" alt=""></li>
                        <li><img src="../img/novotech.png" alt=""></li-->
                    </ul>
                    <h3>Все бренды<span><svg width="14" height="12" viewBox="0 0 8 6" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#DC3F3F" />
                    </svg></span></h3>
                </div>
        </section>


        <section class="byphoto">
            <div class="byphoto__wrapper">
                <div class="byphoto__copiright-wrapper">
                <h2>Подбор по фото</h2>
                <div>Загрузите фотографию люстры</div>
                <div class="byphoto__link-wrapper">
                    <a href="">Загрузить</a>
                </div>
            </div>
                <img src="../img/byphoto.png" alt="Подбор по фото">
                <div class="byphoto__link-wrapper">
                    <a href="">Загрузить</a>
                </div>
            </div>
        </section>

        <section class="typeroom">
            <div class="typeroom__wrapper">
                <h2>Выбирайте по типу помещения</h2>
                <div>Предварительные выводы неутешительны: начало повседневной работы по формированию позиции выявляет срочную потребность приоритизации разума над эмоциями.</div>
                <ul class="typeroom__list">
                    <li>
                        <img src="../img/room1.png" alt="Уютная комната">
                        <div>Для спальни</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/room2.png" alt="Уютная комната">
                        <div>Для кухни</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/room3.png" alt="Уютная комната">
                        <div>Для офиса</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/room4.png" alt="Уютная комната">
                        <div>Для больших залов</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/room5.png" alt="Уютная комната">
                        <div>Для гостинной</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/room6.png" alt="Уютная комната">
                        <div>Для детской</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/room7.png" alt="Уютная комната">
                        <div>Для магазина</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/room8.png" alt="Уютная комната">
                        <div>Для кафе и ресторанов</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <a href='/index.php?route=common/catalog'><h3>В каталог<span><svg width="14" height="12" viewBox="0 0 8 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#DC3F3F" />
                        </svg></span></h3></a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="contacts">
            <div class="contacts__wrapper">
                
                <div class="contacts__copiright-wrapper">
                    <img src="../img/konstantin.png" alt="Менеджер оптового отдела">
                    <div class="contacts__copiright">
                        <h2>Всегда на связи</h2>
                        <div class="name">Константин Константинопольский</div>
                        <span>Менеджер оптового отдела</span>
                    </div>
                </div>

                <div class="contacts__linkmail-wrapper">
                <div class="contacts__link-wrapper">
                    <a href=""><svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.7499 12.6604C14.2819 12.6604 12.2812 14.6611 12.2812 17.1292C12.2812 19.5972 14.2819 21.5979 16.7499 21.5979C19.218 21.5979 21.2187 19.5972 21.2187 17.1292C21.2187 14.6611 19.218 12.6604 16.7499 12.6604Z" fill="#242424"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.55806 4.86617C14.2992 4.33628 19.2007 4.33628 23.9419 4.86617C26.5522 5.15791 28.6576 7.21461 28.9639 9.83405C29.5308 14.6809 29.5308 19.5774 28.9639 24.4242C28.6576 27.0437 26.5522 29.1004 23.9419 29.3921C19.2007 29.922 14.2992 29.922 9.55806 29.3921C6.94776 29.1004 4.84237 27.0437 4.536 24.4242C3.96912 19.5774 3.96912 14.6809 4.536 9.83405C4.84237 7.2146 6.94776 5.15791 9.55806 4.86617ZM23.6249 8.87915C22.8656 8.87915 22.2499 9.49476 22.2499 10.2542C22.2499 11.0135 22.8656 11.6292 23.6249 11.6292C24.3843 11.6292 24.9999 11.0135 24.9999 10.2542C24.9999 9.49476 24.3843 8.87915 23.6249 8.87915ZM10.2187 17.1292C10.2187 13.522 13.1428 10.5979 16.7499 10.5979C20.3571 10.5979 23.2812 13.522 23.2812 17.1292C23.2812 20.7363 20.3571 23.6604 16.7499 23.6604C13.1428 23.6604 10.2187 20.7363 10.2187 17.1292Z" fill="#242424"/>
                        </svg>
                        </a>
                    <a href=""><svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.6643 27.8404L25.6652 27.8381L25.6892 27.7783L29.8125 6.98955V6.92203C29.8125 6.40406 29.6211 5.95188 29.2047 5.68065C28.8401 5.44324 28.4211 5.42633 28.1272 5.44864C27.8165 5.47222 27.5234 5.5498 27.3206 5.61437C27.2162 5.64759 27.1289 5.67959 27.0664 5.7038C27.035 5.71595 27.0096 5.72626 26.9911 5.73394L26.973 5.74159L3.98324 14.7601L3.97691 14.7624C3.9645 14.7669 3.94808 14.773 3.92825 14.7808C3.88871 14.7961 3.83489 14.8182 3.77167 14.8468C3.64753 14.9031 3.47602 14.9899 3.30208 15.109C3.00666 15.3113 2.44412 15.7903 2.53911 16.5496C2.61779 17.1785 3.05133 17.578 3.34361 17.7848C3.50029 17.8956 3.65019 17.9756 3.75995 18.0278C3.81557 18.0543 3.86281 18.0746 3.89799 18.0889C3.91563 18.0961 3.93038 18.1018 3.94179 18.1062L3.9564 18.1116L3.96574 18.1151L7.98795 19.4692C7.97437 19.7215 7.9994 19.9789 8.06632 20.2327L10.0811 27.8755C10.32 28.7817 11.1398 29.413 12.0769 29.4123C12.917 29.4117 13.662 28.9035 13.9785 28.1453L17.1241 24.7819L22.5264 28.9238L22.6032 28.9573C23.094 29.1715 23.5526 29.2393 23.9719 29.182C24.3906 29.1249 24.7233 28.9493 24.9732 28.7493C25.2191 28.5526 25.3877 28.3305 25.4937 28.1633C25.5475 28.0784 25.5877 28.0037 25.6155 27.9475C25.6295 27.9193 25.6405 27.8954 25.6488 27.8768L25.6591 27.8529L25.6628 27.844L25.6643 27.8404ZM10.0606 19.707C10.0148 19.5333 10.0867 19.3499 10.2384 19.2536L23.8811 10.5898C23.8811 10.5898 24.6836 10.1027 24.6549 10.5898C24.6549 10.5898 24.7981 10.6759 24.3681 11.077C23.9602 11.458 14.6445 20.4519 13.7019 21.362C13.6475 21.4146 13.615 21.4748 13.5959 21.548L12.0754 27.3498L10.0606 19.707Z" fill="#242424"/>
                        </svg>
                        </a>
                    <a href=""><svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4699 10.2625L13.4702 10.2632C13.6494 10.6627 13.9476 11.3889 14.1869 11.9716L14.1904 11.98C14.2845 12.2092 14.3696 12.4165 14.436 12.5762C14.4693 12.656 14.4973 12.7226 14.519 12.7734C14.53 12.7988 14.5388 12.8192 14.5457 12.8346L13.4699 10.2625ZM13.4699 10.2625C13.3129 9.91416 13.1191 9.66153 12.8616 9.51229M13.4699 10.2625L12.8616 9.51229M14.5478 13.9946L14.5478 13.9946L14.5436 14.0033C14.4502 14.1971 14.3599 14.3845 14.1597 14.6145L14.1596 14.6146C14.1004 14.6826 14.0377 14.7582 13.9703 14.8397L13.9604 14.8517C13.8509 14.9841 13.7218 15.14 13.6049 15.2565L13.6046 15.2568C13.5619 15.2993 13.5362 15.3257 13.517 15.3487L14.5478 13.9946ZM14.5478 13.9946L14.5856 13.9164L14.5478 13.9946ZM24.1365 19.481C24.0393 19.3172 23.8978 19.2154 23.7906 19.1499C23.6872 19.0867 23.5639 19.0276 23.4523 18.9741L23.4384 18.9674C23.3774 18.9382 23.3152 18.9084 23.2491 18.8754L23.249 18.8754C23.07 18.7863 22.5442 18.5281 22.0222 18.2768C21.5146 18.0324 20.9703 17.7749 20.7797 17.7037L20.7796 17.7037C20.6273 17.6469 20.3781 17.5547 20.1127 17.5859C19.795 17.6234 19.5627 17.8141 19.3935 18.07C19.1746 18.3928 18.5219 19.1544 18.3078 19.403L18.3078 19.403C18.2987 19.4136 18.2911 19.4216 18.2852 19.4274C18.2842 19.4271 18.2831 19.4269 18.282 19.4266C18.2539 19.4194 18.2086 19.4034 18.1407 19.3697C18.0708 19.3349 17.9818 19.2965 17.8936 19.2584L17.8835 19.2541L17.8824 19.2536C17.4012 19.046 16.4738 18.6458 15.4006 17.6904L15.3998 17.6896C14.405 16.8082 13.7227 15.7047 13.5281 15.3691L23.7064 19.7361M24.1365 19.481L23.7064 19.7361M24.1365 19.481C24.1364 19.4809 24.1364 19.4809 24.1364 19.4808L23.7064 19.7361M24.1365 19.481C24.2221 19.6252 24.2431 19.7993 24.2514 19.9058C24.2619 20.039 24.2599 20.1949 24.2454 20.3643C24.2163 20.7041 24.1343 21.1284 23.9737 21.5819L23.9725 21.5853C23.7649 22.1584 23.2109 22.6383 22.7087 22.9617C22.2001 23.2893 21.597 23.5504 21.1551 23.5918M23.7064 19.7361C23.7949 19.885 23.7949 20.5891 23.5024 21.415C23.2032 22.241 21.7611 23.0331 21.1081 23.094M21.1551 23.5918L21.1081 23.094M21.1551 23.5918C21.1549 23.5918 21.1547 23.5918 21.1546 23.5918L21.1081 23.094M21.1551 23.5918L21.1081 23.094M10.165 10.0165L10.165 10.0165C10.1888 9.99144 10.2085 9.9706 10.2259 9.9518C10.2259 9.9518 10.2259 9.9518 10.2259 9.9518L10.5925 10.2918L10.165 10.0165ZM10.165 10.0165C9.77065 10.4333 8.85449 11.4053 8.85449 13.2369C8.85449 14.2041 9.20182 15.1277 9.55308 15.8218C9.9077 16.5226 10.2884 17.0321 10.3952 17.1749L10.3952 17.175L10.3953 17.175L10.4025 17.1848L10.4027 17.1849L10.165 10.0165ZM12.8616 9.51229C12.6137 9.36855 12.3702 9.36229 12.243 9.35902M12.8616 9.51229L12.243 9.35902M12.243 9.35902C12.2396 9.35894 12.2363 9.35885 12.233 9.35876L12.243 9.35902ZM10.2457 27.9146C10.1342 27.8542 10.0039 27.8384 9.88117 27.8705L3.54608 29.5252C3.533 29.5286 3.52533 29.5274 3.52012 29.5258C3.51345 29.5239 3.50534 29.5195 3.49786 29.5119C3.49038 29.5043 3.48611 29.4962 3.48424 29.4895C3.48278 29.4842 3.48165 29.4765 3.48524 29.4635L5.17733 23.3215C5.21294 23.1922 5.19515 23.0541 5.12796 22.9381C3.97251 20.9431 3.36478 18.6808 3.3656 16.3783V16.3781C3.3656 9.14183 9.28832 3.25 16.5577 3.25C20.0918 3.25 23.4 4.61938 25.8909 7.09862C28.3812 9.57739 29.75 12.8755 29.75 16.3849C29.75 23.621 23.8273 29.5129 16.5578 29.5129H16.551C14.3422 29.5129 12.1726 28.9583 10.2457 27.9146ZM16.6738 22.6791C16.6739 22.6791 16.6739 22.6792 16.674 22.6792L16.857 22.2139L16.6738 22.6791ZM14.5856 13.9164C14.7972 13.4828 14.6802 13.1043 14.5559 12.8569L14.5856 13.9164Z" fill="#242424" stroke="#242424" stroke-linejoin="round"/>
                        </svg>
                        </a>
                </div>
                <div class="contacts__telmail-wrapper">
                    <a href="tel:+79000000001">+7 900 000 00 01</a>
                <a href="mailto:hello@luminare.ru">hello@luminare.ru</a>
                </div>
            </div>
            </div>
        </section>

        <section class="typeroom">
            <div class="typeroom__wrapper">
                <h2>Выбирайте по стилю интерьера</h2>
                <div>Предварительные выводы неутешительны: начало повседневной работы по формированию позиции выявляет срочную потребность приоритизации разума над эмоциями.</div>
            
                <ul class="typeroom__list">
                    <li>
                        <img src="../img/rooms1.png" alt="Уютная комната">
                        <div>Скандинавский</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/rooms2.png" alt="Уютная комната">
                        <div>Модерн</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/rooms3.png" alt="Уютная комната">
                        <div>Классика</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/rooms4.png" alt="Уютная комната">
                        <div>Ар-деко</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/rooms1.png" alt="Уютная комната">
                        <div>Скандинавский</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/rooms2.png" alt="Уютная комната">
                        <div>Модерн</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/rooms3.png" alt="Уютная комната">
                        <div>Классика</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <img src="../img/rooms4.png" alt="Уютная комната">
                        <div>Ар-деко</div>
                        <div><span>10 323 </span><span>вариантов</span></div>
                    </li>

                    <li>
                        <a href='/index.php?route=common/catalog'><h3>В каталог<span><svg width="14" height="12" viewBox="0 0 8 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#DC3F3F" />
                        </svg></span></h3></a>
                    </li>

                </ul>
            </div>
        </section>


        </div>
    </main>
{{ footer }}




  