{{header}}
<main class="page-main">
        <div class="page-main__wrapper">
            
            <section class="intro">
                <div class="intro__wrapper">
                    <div class="breadcrumbs"><a href='/'>Магазин света Luminare</a><span>></span><a href=''>Акции</a></div>
                    <div class="intro__slide-wrapper">
                       
                    <div class="intro__slide">
                        {% for key, marketing in marketings %}
                            <a href='/index.php?route=checkout/marketing&tracking={{marketing.code}}'><div class="slide"><img src="/image/{{marketing.image}}" key="{{key}}" alt="{{marketing.name}}"></div></a>
                        {% endfor %} 
                    </div>
                </div>
                </div>
                </section>

                <section class="hit-day">
                    <div class="hit-day__wrapper">

                        <div class="slide__hit slide slide__hit-day">
                            <div class="slide__img-wrapper">
                            <img class="slide" src="/image/{{product.image}}" alt="">
                              {% for i in product.images %}
                              <img class="slide" src="/image/{{i.image}}" alt="">
                              {% endfor %}
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>{{product.name}}</h3>
                              <div>{{product.attributes.1.attribute.2.text}}&nbsp;{{product.attributes.1.attribute.5.text}}&nbsp;{{product.attributes.1.attribute.1.text}}</div>
                              <span>{{product.manufacturer}}&nbsp;({{product.attributes.1.attribute.3.text}})</span>
                            <div class="price-wrapper">
                                  {% if product.stock_status == 'В наличии' %}
                                    <span class="price-wrapper__nalichie">В наличии</span>
                                  {% else %}
                                    <span class="price-wrapper__nalichie" style='color: gray !important;'>Нет в наличии</span>
                                  {% endif %}
                                  <span>{{product.price|number_format(0, '.', ' ')}}₽</span>
                                  <div><a href="">В корзину</a></div>
                              </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg>

                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg>
                                            
                            </div>
                        </div>

                        <div class="hit-day__copiright-tablet-wrapper">
                        <div class="hit-day__copiright-wrapper">
                            <div class="hit-day__copiright-title">Товар дня</div>
                            <div class="hit-day__copiright">Учитывая ключевые сценарии поведения, постоянный количественный рост и сфера нашей активности способствует повышению качества стандартных подходов.
                            </div>
                        </div>

                        <div class="hit-day__time-wrapper">
                            <div class="hit-day__time-copiright">
                                <div>До конца акциии осталось</div>
                                <span>23:59:59</span>
                                <div>Успей купить</div>
                            </div>
                            <div class="hit-day__time-link__wrapper">
                                <a href="">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>

        </div>
    </main>
{{footer}}