{{ header }}
<main class="page-main">
        <div class="page-main__wrapper">
            
            <section class="intro">
                <div class="intro__wrapper">
                    <div class="breadcrumbs"><a href='/'>Магазин света Luminare</a><span>></span><a href='/index.php?route=common/promotions'>Акции</a><span>></span><a>{{promo.name}}</a></div>

                    <div class="intro__wrapper-action">
                        <div class="intro__img-wrapper">
                        <img src="/image/{{promo.image}}" alt="">
                        <div class="intro__link-wrapper">
                            <a href=""><span><svg width="27" height="25" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.7499 12.6604C14.2819 12.6604 12.2812 14.6611 12.2812 17.1292C12.2812 19.5972 14.2819 21.5979 16.7499 21.5979C19.218 21.5979 21.2187 19.5972 21.2187 17.1292C21.2187 14.6611 19.218 12.6604 16.7499 12.6604Z" fill="#242424"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.55806 4.86617C14.2992 4.33628 19.2007 4.33628 23.9419 4.86617C26.5522 5.15791 28.6576 7.21461 28.9639 9.83405C29.5308 14.6809 29.5308 19.5774 28.9639 24.4242C28.6576 27.0437 26.5522 29.1004 23.9419 29.3921C19.2007 29.922 14.2992 29.922 9.55806 29.3921C6.94776 29.1004 4.84237 27.0437 4.536 24.4242C3.96912 19.5774 3.96912 14.6809 4.536 9.83405C4.84237 7.2146 6.94776 5.15791 9.55806 4.86617ZM23.6249 8.87915C22.8656 8.87915 22.2499 9.49476 22.2499 10.2542C22.2499 11.0135 22.8656 11.6292 23.6249 11.6292C24.3843 11.6292 24.9999 11.0135 24.9999 10.2542C24.9999 9.49476 24.3843 8.87915 23.6249 8.87915ZM10.2187 17.1292C10.2187 13.522 13.1428 10.5979 16.7499 10.5979C20.3571 10.5979 23.2812 13.522 23.2812 17.1292C23.2812 20.7363 20.3571 23.6604 16.7499 23.6604C13.1428 23.6604 10.2187 20.7363 10.2187 17.1292Z" fill="#242424"/>
                                </svg></span>Больше акций в инстаграм</a>
                        </div>
                    </div>

                    <div class="intro__copiright-wrapper">
                        {{promo.description}}                       
                    </div>

                    <a href='/index.php?route=common/promotions'><div class="intro__wrapper-action-back"><span><svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.291962 7.29289C-0.0985622 7.68342 -0.0985622 8.31658 0.291962 8.70711L6.65592 15.0711C7.04645 15.4616 7.67961 15.4616 8.07014 15.0711C8.46066 14.6805 8.46066 14.0474 8.07014 13.6569L2.41328 8L8.07014 2.34315C8.46066 1.95262 8.46066 1.31946 8.07014 0.928932C7.67961 0.538408 7.04645 0.538408 6.65592 0.928932L0.291962 7.29289ZM19.5508 7L0.999069 7V9L19.5508 9V7Z" fill="#242424"/>
                        </svg></span>Назад к акциям</div></a>
                    </div>

                  </div>
                  </section>

        </div>
    </main>
{{ footer }}