{{ header }}
<main class="page-main">
        <div class="page-main__wrapper">

                <div class="category-title__wrapper">
                    <div class="breadcrumbs"><a href='/'>Магазин света Luminare</a><span>></span><a href='/catalog'>Каталог</a><span>></span>{% if category_parent_id > 0 %}<a href='{{parent_category.href}}'>{{parent_category.name}}</a><span>></span>{% endif %}<a href='{{category_href}}'>{{category_name}}</a></div>
                    <h1>{{category_name}}</h1>
                    {% if categories|length > 0 %}
                    <div class="catalog__intro-slide-wrapper">
                        {% for c in categories %}
                        <div class="catalog__intro-slide slide"><a href='{{c.href}}'>
                            <img src="/image/{{c.image_mini}}" alt="">
                            <div>{{c.name}}</div>
                            <span>{{c.count}}</span></a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                

               <section class="sorting">
                   <div class="sorting__wrapper">
                    

                    <div class="filter__sorting-wrapper">

                    <div class="filter__wrapper">
                        <form id='filters_form' method='POST' action='ajax.php'>
                        <input type='hidden' name='action' value='filter_form'>
                        <input type='hidden' name='url' value='{{category_href}}'>
                        <input type='hidden' name='get_sort_order' value='{{get_sort_order}}'>

                        <div class="filter-header__wrapper">
                            
                            <div class="input__filter-wrapper">
                                <div>Цена</div>
                                <input type="number"  placeholder="От" {% if attribute(selected_filters, 'price_ot') %} value={{selected_filters.price_ot}} {% else %} value=0 {% endif %} name="price_ot" data-filter="price_ot">
                                <input type="number"  placeholder="До" {% if attribute(selected_filters, 'price_do') %} value={{selected_filters.price_do}} {% else %} value=0 {% endif %} name="price_do" data-filter="price_do">
                            </div>
    
                            <div class="checkbox__filter-wrapper">
                                <div class="checkbox__wrapper">
                                    <label class="switch">
                                        <input type="checkbox" {% if attribute(selected_filters, '90:1') %} checked {% endif %} name="90:1" data-filter="90:1">
                                        <span class="slider round"></span>
                                      </label>
                                    <span>Новинка</span>                                  
                                </div>
    
                                <div class="checkbox__wrapper">
                                    <label class="switch">
                                        <input type="checkbox" {% if attribute(selected_filters, '92:1') %} checked {% endif %} name="92:1" data-filter="92:1">
                                        <span class="slider round"></span>
                                      </label>
                                    <span>Со скидкой</span>                                  
                                </div>
    
                                <div class="checkbox__wrapper">
                                    <label class="switch">
                                        <input type="checkbox" {% if attribute(selected_filters, '91:1') %} checked {% endif %} name="91:1" data-filter="91:1">
                                        <span class="slider round"></span>
                                      </label>
                                    <span>Эксклюзив</span>                                  
                                </div>
    
                                <div class="checkbox__wrapper checkbox__wrapper-big">
                                    <span>Забрать из магазина</span> 
                                    <label class="switch">
                                        <input type="checkbox" {% if attribute(selected_filters, 'v_nalichii:7') %} checked {% endif %} name='v_nalichii:1' data-filter='v_nalichii:1'>
                                        <span class="slider round"></span>
                                      </label>                                 
                                </div>
    
                            </div>
    
                            <a href="{{category_href}}">Очистить фильтры<span><svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.7705 7.47228L13.8215 19.1085C13.7909 19.2755 13.7029 19.4265 13.5728 19.5354C13.4426 19.6443 13.2785 19.7042 13.1088 19.7049H4.14886C3.97915 19.7042 3.81499 19.6443 3.68483 19.5354C3.55467 19.4265 3.46669 19.2755 3.43614 19.1085L1.48708 7.47228C1.47029 7.36872 1.47611 7.26275 1.50413 7.16165C1.53215 7.06055 1.58172 6.9667 1.64942 6.88656C1.71713 6.80642 1.80137 6.74188 1.89638 6.69736C1.99138 6.65284 2.09488 6.6294 2.1998 6.62866H15.0433C15.1494 6.62729 15.2546 6.64917 15.3513 6.69276C15.4481 6.73636 15.5342 6.80061 15.6035 6.881C15.6728 6.9614 15.7237 7.05599 15.7525 7.15814C15.7814 7.26028 15.7875 7.36751 15.7705 7.47228ZM16.6287 4.44687C16.6287 4.63975 16.5521 4.82473 16.4157 4.96112C16.2793 5.09751 16.0943 5.17413 15.9014 5.17413H1.35617C1.16329 5.17413 0.978305 5.09751 0.841917 4.96112C0.705529 4.82473 0.628906 4.63975 0.628906 4.44687C0.628906 4.25398 0.705529 4.069 0.841917 3.93261C0.978305 3.79622 1.16329 3.7196 1.35617 3.7196H4.99249V1.53781C4.99249 1.34493 5.06911 1.15995 5.2055 1.02356C5.34189 0.887169 5.52687 0.810547 5.71975 0.810547H11.5379C11.7307 0.810547 11.9157 0.887169 12.0521 1.02356C12.1885 1.15995 12.2651 1.34493 12.2651 1.53781V3.7196H15.9014C16.0943 3.7196 16.2793 3.79622 16.4157 3.93261C16.5521 4.069 16.6287 4.25398 16.6287 4.44687ZM10.8106 3.7196V2.26507H6.44702V3.7196H10.8106Z" fill="white"/>
                                </svg>
                                </span></a>
    
                        </div>

                        
                        <div class="filter-tabs__wrapper">
    
                                <!--div class="filter-tabs__item"><a class="filter-tabs__link">Размеры<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                        <div class="filter-tabs__info-wrapper">
                                            <div class="input__tabs__info-wrapper">
                                                <div>Высота, мм</div>
                                                <input type="number" placeholder="От">
                                                <input type="number" placeholder="До">
                                            </div>
    
                                            <div class="input__tabs__info-wrapper">
                                                <div>Длина, мм</div>
                                                <input type="number" placeholder="От">
                                                <input type="number" placeholder="До">
                                            </div>
    
                                            <div class="input__tabs__info-wrapper">
                                                <div>Глубина, мм</div>
                                                <input type="number" placeholder="От">
                                                <input type="number" placeholder="До">
                                            </div>
    
                                            <div class="input__tabs__info-wrapper">
                                                <div>Ширина, мм</div>
                                                <input type="number" placeholder="От">
                                                <input type="number" placeholder="До">
                                            </div>
    
                                            <div class="input__tabs__info-wrapper">
                                                <div>Диаметр, мм</div>
                                                <input type="number" placeholder="От">
                                                <input type="number" placeholder="До">
                                            </div>
    
                                            <div class="input__tabs__info-wrapper">
                                                <div>Длина цепи, мм</div>
                                                <input type="number" placeholder="От">
                                                <input type="number" placeholder="До">
                                            </div>
                                        </div>
                                </div-->
                                {% for key,f in filter %}
                                {% if f %}
                                <div class="filter-tabs__item"><a class="filter-tabs__link">{{key}}<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
    
                                    <div class="filter-tabs__info-wrapper">
                                        <div class="input__tabs__info-wrapper">
                                            {% for e in f %}
                                            <div class="input__tabs__info-checkbox">
                                                <input type="checkbox" {% if attribute(selected_filters, e.name) %} checked {% endif %} name="{{e.name}}" data-filter="{{e.name}}">
                                                <label>{{e.text}}</label>
                                            </div>
                                            {% endfor %}
                                            <!--div class="input__tabs__info-checkbox">
                                                <input type="checkbox">
                                                <label>Арт деко</label>
                                            </div>
                                            
                                            <div class="input__tabs__info-checkbox">
                                                <input type="checkbox">
                                                <label>О компании</label>
                                            </div>
        
                                            <div class="input__tabs__info-checkbox">
                                                <input type="checkbox">
                                                <label>О компании</label>
                                            </div-->
                                        </div>
        
                                    </div>                        
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div class="filter-itog__wrapper">
    <div style='display:block!important'>Найдено <span>13 999</span><svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4883 6.63368L12.6675 17.5044C12.6389 17.6604 12.5567 17.8015 12.4351 17.9032C12.3135 18.005 12.1602 18.061 12.0016 18.0616H3.63112C3.47257 18.061 3.31921 18.005 3.19761 17.9032C3.07601 17.8015 2.99383 17.6604 2.96529 17.5044L1.14443 6.63368C1.12875 6.53693 1.13418 6.43793 1.16036 6.34348C1.18654 6.24902 1.23285 6.16135 1.2961 6.08648C1.35935 6.01161 1.43805 5.95131 1.52681 5.90972C1.61556 5.86814 1.71226 5.84624 1.81027 5.84554H13.8089C13.908 5.84426 14.0063 5.86471 14.0967 5.90543C14.1871 5.94616 14.2675 6.00618 14.3322 6.08129C14.397 6.15639 14.4445 6.24476 14.4715 6.34019C14.4984 6.43562 14.5042 6.53579 14.4883 6.63368ZM15.29 3.80727C15.29 3.98747 15.2184 4.16028 15.091 4.2877C14.9636 4.41511 14.7908 4.4867 14.6106 4.4867H1.02214C0.841941 4.4867 0.669128 4.41511 0.541711 4.2877C0.414294 4.16028 0.342712 3.98747 0.342712 3.80727C0.342712 3.62708 0.414294 3.45427 0.541711 3.32685C0.669128 3.19943 0.841941 3.12785 1.02214 3.12785H4.41925V1.08958C4.41925 0.909385 4.49083 0.736571 4.61825 0.609155C4.74567 0.481738 4.91848 0.410156 5.09868 0.410156H10.5341C10.7143 0.410156 10.8871 0.481738 11.0145 0.609155C11.1419 0.736571 11.2135 0.909385 11.2135 1.08958V3.12785H14.6106C14.7908 3.12785 14.9636 3.19943 15.091 3.32685C15.2184 3.45427 15.29 3.62708 15.29 3.80727ZM9.85464 3.12785V1.769H5.7781V3.12785H9.85464Z" fill="#DC3F3F"/>
</svg>
</div><button type='submit'>Показать</button>
</div>
                                </form>
    
                                <!--div class="filter-tabs__item"><a class="filter-tabs__link">Место применения<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Тип лампочки<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Форма светильника<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Параметры плафонов<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Параметры арматуры<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Тип управления<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Особенности<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Пульт ДУ<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Выключатель<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Тип подвеса<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Страна<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Бренд<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Диммер<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Теги<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Степень защиты<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Напряжение, V<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div>
    
                                <div class="filter-tabs__item"><a class="filter-tabs__link">Количество фаз<span class=""><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6L0.535899 -6.52533e-07L7.4641 -4.68497e-08L4 6Z" fill="#000000"></path>
                                </svg></span></a>
                                </div-->
    
                        </div>
                    </div>


                    <div class="sorting__item-wrapper">

                        <div class="sorting__item-navigation__wrapper">
                        <div class="sorting__title-wrapper">
                            <span>Сортировка:</span>
                            <form id='sort_select_form' action=''>
                                <select id='sort_select' size="1" onchange="selectSort()" name="">
                                   <option value="{{category_href}}{% if get_filter %}&{{get_filter}}{% endif %}" {% if select_sort == '' %} selected {% endif %}>Не выбрано</option>
                                   <option value="{{category_href}}&sort=p.price&order=ASC{% if get_filter %}&{{get_filter}}{% endif %}" {% if select_sort == 'ASC' %} selected {% endif %}>Дешевле</option>
                                   <option value="{{category_href}}&sort=p.price&order=DESC{% if get_filter %}&{{get_filter}}{% endif %}" {% if select_sort == 'DESC' %} selected {% endif %}>Дороже</option>
                                </select>                      
                            </form>
                        </div>
                        <ul class="sorting__nav-list">
                            {{pagination}}
                            <!--li><div></div></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li>...</li>
                            <li><a href="">4</a></li>
                            <li><div></div></li-->
                        </ul>
                    </div>
                        {% for p in products %}
                          <div class="slide__hit slide sorting-item">

                              <div class="slide__img-wrapper">
                              <img class="slide" src="/image/{{p.image}}" alt="">
                              {% for i in p.images %}
                              <img class="slide" src="/image/{{i.image}}" alt="">
                              {% endfor %}
                          </div>
                          <div class="rewies__wrapper">
                              <div class="rewies__stars">
                                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                      </svg>                                        
                                  <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                      </svg>
                                      <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                          </svg>
                                          <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                              </svg>
                                              <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                  </svg>                                                                                                                                                                                        
                              </div>
                              <div class="rewies__number"><span>9999 отзывов</span></div>
                          </div><a href='/?route=product/product&product_id={{p.product_id}}'>
                              <h3>{{p.name}}</h3>
                              <div>{{p.attributes.1.attribute.2.text}}&nbsp;{{p.attributes.1.attribute.5.text}}&nbsp;{{p.attributes.1.attribute.1.text}}</div>
                              <span>{{p.manufacturer}}&nbsp;({{p.attributes.1.attribute.3.text}})</span></a>
                              <div class="price-wrapper">
                                  {% if p.stock_status == 'В наличии' %}
                                    <span class="price-wrapper__nalichie">В наличии</span>
                                  {% else %}
                                    <span class="price-wrapper__nalichie" style='color: gray !important;'>Нет в наличии</span>
                                  {% endif %}
                                  <span>{{p.price|number_format(0, '.', ' ')}}₽</span>
                                  <div onclick="cart.add('{{p.product_id}}', '1');"><a>В корзину</a></div>
                              </div>
                              <div class="new">Новинка</div>
                              {% if p.attribute.1.attribute.93.text %}<div class="procent">{{p.attribute.1.attribute.93.text}}%</div>{% endif %}
                              <div class="item__wrapper-option">
                                  <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                      <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                      </svg>
                                  
                                      <svg onclick="compare.add('{{p.product_id}}');" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                          <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                          <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                          </svg>

                                          <svg onclick="wishlist.add('{{p.product_id}}');" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                              <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                              </svg>
                                              
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>

                    <div class="sorting__nav-wrapper">
                    {{pagination}}
                        <!--ul class="sorting__nav-list">
                        
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li>...</li>
                            <li><a href="">4</a></li>
                        </ul-->
                    </div>
                   </div>
               </section>

               <section class="category__desktop-slider">
                <div class="bestseller__wrapper">
                    <h2>Смотрите так же</h2>

                    <div class="slide__wrapper">
                        {% for mc in main_categories %}
                          <div class="slide slide-category__desktop">
                              <a href="{{mc.href}}"><img src="/image/{{mc.image}}" alt=""><span>{{mc.name}}</span></a>
                          </div>
                        {% endfor %}
                        



                        <div class="slide slide-category__desktop">
                            <a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a>
                        </div>


                        <div class="slide slide-category__desktop">
                            <a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a>
                        </div>

                        
                         <div class="slide slide-category__desktop">
                            <a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a>
                        </div>


                        <div class="slide slide-category__desktop">
                            <a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a>
                        </div>



                        <div class="slide slide-category__desktop">
                            <a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a>
                        </div>


                        <div class="slide slide-category__desktop">
                            <a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a>
                        </div>



                        <div class="slide slide-category__desktop">
                            <a href=""><img src="../img/popularcategories.png" alt=""><span>Люстры</span></a>
                        </div>

                    </div>
                    
                </div>
               </section>

               <section class="category__tabletcopiright">
                    {{description}}
                   <!--div class="category__tabletcopiright-wrapper">
                    <h2>Seo text</h2>
                    <div class="category__tabletcopiright-img-wrapper">
                        <div>В частности, синтетическое тестирование способствует подготовке и реализации прогресса профессионального сообщества. В рамках спецификации современных стандартов, предприниматели в сети интернет формируют глобальную экономическую сеть и при этом - указаны как претенденты на роль ключевых факторов. Противоположная точка зрения подразумевает, что стремящиеся вытеснить традиционное производство, нанотехнологии являются только методом политического участия и функционально разнесены на независимые элементы. Есть над чем задуматься: явные признаки победы институционализации функционально разнесены на независимые элементы. Учитывая ключевые сценарии поведения, сложившаяся структура.</div>
                        <img src="../img/categorytabletcopiright.png" alt="Фото для сео">
                    </div>
                   </div-->
               </section>

               <section class="category__tablet-slider">
                <div class="bestseller__wrapper">
                    <h2>Вы просматривали</h2>

                    <div class="slide__wrapper">

                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>Потолочная люстра</h3>
                            <div>Vele Luce Licia VL1924L06</div>
                            <span>Vele Luce (Италия)</span>
                            <div class="price-wrapper">
                                <span>19 990₽</span>
                                <div><a href="">В корзину</a></div>
                            </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg>

                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg>
                                            
                            </div>
                        </div>



                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>Потолочная люстра</h3>
                            <div>Vele Luce Licia VL1924L06</div>
                            <span>Vele Luce (Италия)</span>
                            <div class="price-wrapper">
                                <span>19 990₽</span>
                                <div><a href="">В корзину</a></div>
                            </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg>

                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg>
                                            
                            </div>
                        </div>


                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>Потолочная люстра</h3>
                            <div>Vele Luce Licia VL1924L06</div>
                            <span>Vele Luce (Италия)</span>
                            <div class="price-wrapper">
                                <span>19 990₽</span>
                                <div><a href="">В корзину</a></div>
                            </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg>

                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg>
                                            
                            </div>
                        </div>


                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>Потолочная люстра</h3>
                            <div>Vele Luce Licia VL1924L06</div>
                            <span>Vele Luce (Италия)</span>
                            <div class="price-wrapper">
                                <span>19 990₽</span>
                                <div><a href="">В корзину</a></div>
                            </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg>

                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg>
                                            
                            </div>
                        </div>


                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>Потолочная люстра</h3>
                            <div>Vele Luce Licia VL1924L06</div>
                            <span>Vele Luce (Италия)</span>
                            <div class="price-wrapper">
                                <span>19 990₽</span>
                                <div><a href="">В корзину</a></div>
                            </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg>

                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg>
                                            
                            </div>
                        </div>


                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>Потолочная люстра</h3>
                            <div>Vele Luce Licia VL1924L06</div>
                            <span>Vele Luce (Италия)</span>
                            <div class="price-wrapper">
                                <span>19 990₽</span>
                                <div><a href="">В корзину</a></div>
                            </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg>

                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg>
                                            
                            </div>
                        </div>


                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>Потолочная люстра</h3>
                            <div>Vele Luce Licia VL1924L06</div>
                            <span>Vele Luce (Италия)</span>
                            <div class="price-wrapper">
                                <span>19 990₽</span>
                                <div><a href="">В корзину</a></div>
                            </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg>

                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg>
                                            
                            </div>
                        </div>


                        <div class="slide__hit slide">
                            <div class="slide__img-wrapper">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                            <img class="slide" src="../img/lustra.png" alt="">
                        </div>
                        <div class="rewies__wrapper">
                            <div class="rewies__stars">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.21143 0.838745L6.3842 4.44424H10.1794L7.10902 6.67256L8.2818 10.2781L5.21143 8.04974L2.14105 10.2781L3.31383 6.67256L0.243456 4.44424H4.03865L5.21143 0.838745Z" fill="#EEE500"/>
                                    </svg>                                        
                                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                    </svg>
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                        </svg>
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                            </svg>
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.01123 0.838745L6.18401 4.44424H9.9792L6.90883 6.67256L8.0816 10.2781L5.01123 8.04974L1.94086 10.2781L3.11363 6.67256L0.0432606 4.44424H3.83845L5.01123 0.838745Z" fill="#D6D6D6"/>
                                                </svg>                                                                                                                                                                                        
                            </div>
                            <div class="rewies__number"><span>9999 отзывов</span></div>
                        </div>
                            <h3>Потолочная люстра</h3>
                            <div>Vele Luce Licia VL1924L06</div>
                            <span>Vele Luce (Италия)</span>
                            <div class="price-wrapper">
                                <span>19 990₽</span>
                                <div><a href="">В корзину</a></div>
                            </div>
                            <div class="new">Новинка</div>
                            <div class="procent">25%</div>
                            <div class="item__wrapper-option">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                    <path d="M13.178 20.0739C14.5838 20.0736 15.949 19.603 17.0563 18.737L20.5378 22.2186L21.6577 21.0987L18.1762 17.6172C19.0426 16.5098 19.5135 15.1442 19.5138 13.7381C19.5138 10.2447 16.6714 7.40234 13.178 7.40234C9.68464 7.40234 6.84225 10.2447 6.84225 13.7381C6.84225 17.2315 9.68464 20.0739 13.178 20.0739ZM13.178 8.98629C15.7987 8.98629 17.9299 11.1175 17.9299 13.7381C17.9299 16.3588 15.7987 18.4899 13.178 18.4899C10.5574 18.4899 8.4262 16.3588 8.4262 13.7381C8.4262 11.1175 10.5574 8.98629 13.178 8.98629Z" fill="#242424"/>
                                    </svg>
                                
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.25 11.9893C0.25 6.71961 0.25 4.08474 1.8871 2.44764C3.52419 0.810547 6.15906 0.810547 11.4288 0.810547H17.0712C22.3409 0.810547 24.9758 0.810547 26.6129 2.44764C28.25 4.08474 28.25 6.71961 28.25 11.9893V17.6318C28.25 22.9015 28.25 25.5364 26.6129 27.1735C24.9758 28.8105 22.3409 28.8105 17.0712 28.8105H11.4288C6.15906 28.8105 3.52419 28.8105 1.8871 27.1735C0.25 25.5364 0.25 22.9015 0.25 17.6317V11.9893Z" fill="#E3E3E3"/>
                                        <rect x="3.86887" y="10.4668" width="8.6874" height="8.6874" rx="3" fill="#242424"/>
                                        <rect x="15.9445" y="10.4668" width="8.6874" height="8.6874" rx="4.3437" fill="#242424"/>
                                        </svg>

                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.25 12.1236C0.25 6.79055 0.25 4.12405 1.90675 2.4673C3.5635 0.810547 6.23 0.810547 11.563 0.810547H16.937C22.27 0.810547 24.9365 0.810547 26.5932 2.4673C28.25 4.12405 28.25 6.79055 28.25 12.1235V17.4975C28.25 22.8305 28.25 25.497 26.5932 27.1538C24.9365 28.8105 22.27 28.8105 16.937 28.8105H11.563C6.23001 28.8105 3.5635 28.8105 1.90675 27.1538C0.25 25.497 0.25 22.8305 0.25 17.4975V12.1236Z" fill="#E3E3E3"/>
                                            <path d="M21.7519 12.7404L16.3595 12.2754L14.252 7.31055L12.1446 12.2829L6.75217 12.7404L10.8471 16.2879L9.61711 21.5603L14.252 18.7628L18.8869 21.5603L17.6644 16.2879L21.7519 12.7404ZM14.252 17.3603L11.4321 19.0628L12.1821 15.8529L9.69211 13.6929L12.977 13.4079L14.252 10.3855L15.5345 13.4154L18.8194 13.7004L16.3295 15.8604L17.0795 19.0703L14.252 17.3603Z" fill="#242424"/>
                                            </svg>
                                            
                            </div>
                        </div>

                    </div>
                    
                </div>
               </section>

        </div>
    </main>
{{ footer }} 
