<div id="call-back-city" class="city__popup-wrapper">
    <form class="log__popup">
      <div class="log__popup-close"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5178 8.94041L18.1032 1.35509C18.5792 0.879035 19.351 0.879035 19.8271 1.35509C20.3031 1.83114 20.3032 2.60296 19.8271 3.07901L12.2429 10.6632L19.8271 18.2474C20.3032 18.7235 20.3031 19.4953 19.8271 19.9713C19.351 20.4474 18.5792 20.4474 18.1032 19.9713L10.5178 12.386L2.93253 19.9713C2.45648 20.4474 1.68465 20.4474 1.2086 19.9713C0.73255 19.4953 0.73255 18.7235 1.2086 18.2474L8.7928 10.6632L1.2086 3.07901C0.732551 2.60296 0.732552 1.83113 1.2086 1.35508C1.68465 0.879034 2.45648 0.879034 2.93253 1.35508L10.5178 8.94041Z" fill="#242424"></path>
        </svg>
        </div>
      <div class="log__popup-title">Выберите город</div>
      <div class="log__popup-input-wrap">
          <input id="autocomplete" type="text" class="log__popup-input city__popup-input" placeholder="Ваш город">
         <button class="log__popup-go city__submit" type="submit">Выбрать</button>
      </div>
    </form>
    </div>

<div id="call-back" class="log__popup-wrapper">
    <form class="log__popup" method="POST" action="" enctype="multipart/form-data">
      <div class="log__popup-close"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5178 8.94041L18.1032 1.35509C18.5792 0.879035 19.351 0.879035 19.8271 1.35509C20.3031 1.83114 20.3032 2.60296 19.8271 3.07901L12.2429 10.6632L19.8271 18.2474C20.3032 18.7235 20.3031 19.4953 19.8271 19.9713C19.351 20.4474 18.5792 20.4474 18.1032 19.9713L10.5178 12.386L2.93253 19.9713C2.45648 20.4474 1.68465 20.4474 1.2086 19.9713C0.73255 19.4953 0.73255 18.7235 1.2086 18.2474L8.7928 10.6632L1.2086 3.07901C0.732551 2.60296 0.732552 1.83113 1.2086 1.35508C1.68465 0.879034 2.45648 0.879034 2.93253 1.35508L10.5178 8.94041Z" fill="#242424"/>
        </svg>
        </div>
      <div class="log__popup-title">Вход в личный кабинет</div>
      <span class="log__popup-error">Такого логина не существует</span>  
      <span class="log__popup-error">Неверный пароль</span>      
      <div class="log__popup-input-wrap">
          <input name="name" type="text" class="log__popup-input" placeholder="Email" required="">
          <small>Заполните поле</small>
          <input id="password-input" name="password" type="password" class="log__popup-input" placeholder="Пароль" required="">
          <small>Заполните поле</small>
          <a href="#" class="password-control"><svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5.92383C11.07 5.92383 12.75 7.60383 12.75 9.67383C12.75 10.1613 12.6525 10.6188 12.48 11.0463L14.67 13.2363C15.8025 12.2913 16.695 11.0688 17.2425 9.67383C15.945 6.38133 12.7425 4.04883 8.9925 4.04883C7.9425 4.04883 6.9375 4.23633 6.0075 4.57383L7.6275 6.19383C8.055 6.02133 8.5125 5.92383 9 5.92383ZM1.5 3.87633L3.21 5.58633L3.555 5.93133C2.31 6.89883 1.335 8.18883 0.75 9.67383C2.0475 12.9663 5.25 15.2988 9 15.2988C10.1625 15.2988 11.2725 15.0738 12.285 14.6688L12.6 14.9838L14.7975 17.1738L15.75 16.2213L2.4525 2.92383L1.5 3.87633ZM5.6475 8.02383L6.81 9.18633C6.7725 9.34383 6.75 9.50883 6.75 9.67383C6.75 10.9188 7.755 11.9238 9 11.9238C9.165 11.9238 9.33 11.9013 9.4875 11.8638L10.65 13.0263C10.1475 13.2738 9.5925 13.4238 9 13.4238C6.93 13.4238 5.25 11.7438 5.25 9.67383C5.25 9.08133 5.4 8.52633 5.6475 8.02383ZM8.88 7.43883L11.2425 9.80133L11.2575 9.68133C11.2575 8.43633 10.2525 7.43133 9.0075 7.43133L8.88 7.43883Z" fill="#A0A0A0"/>
            </svg>
            </a>
          <div class="log__popup-zabil">Забыли пароль?</div>
      </div>
      <div class="log__popup-button__wrap">
          <button class="log__popup-go" type="submit">Войти</button>
          <a class="log__popup-go-link" type="submit">Зарегистрироваться</a>
      </div>
      
    </form>
    </div>

    <div id="call-back-pass" class="pass__popup-wrapper">
        <form class="log__popup" method="POST" action="" enctype="multipart/form-data">
          <div class="log__popup-close"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5178 8.94041L18.1032 1.35509C18.5792 0.879035 19.351 0.879035 19.8271 1.35509C20.3031 1.83114 20.3032 2.60296 19.8271 3.07901L12.2429 10.6632L19.8271 18.2474C20.3032 18.7235 20.3031 19.4953 19.8271 19.9713C19.351 20.4474 18.5792 20.4474 18.1032 19.9713L10.5178 12.386L2.93253 19.9713C2.45648 20.4474 1.68465 20.4474 1.2086 19.9713C0.73255 19.4953 0.73255 18.7235 1.2086 18.2474L8.7928 10.6632L1.2086 3.07901C0.732551 2.60296 0.732552 1.83113 1.2086 1.35508C1.68465 0.879034 2.45648 0.879034 2.93253 1.35508L10.5178 8.94041Z" fill="#242424"/>
            </svg>
            </div>
          <div class="log__popup-title">Что бы востановить пароль введите ваш Email</div>
          <div class="log__popup-input-wrap">
              <input name="name" type="text" class="log__popup-input" placeholder="Email" required="">
          </div>
          <div class="log__popup-button__wrap">
              <button class="log__popup-go" type="submit">Восстановить</button>
          </div>
          
        </form>
        </div>
        
        <div id="call-back-tel" class="tel__popup-wrapper">
        <form class="log__popup" method="POST" action="" enctype="multipart/form-data">
          <div class="log__popup-close"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5178 8.94041L18.1032 1.35509C18.5792 0.879035 19.351 0.879035 19.8271 1.35509C20.3031 1.83114 20.3032 2.60296 19.8271 3.07901L12.2429 10.6632L19.8271 18.2474C20.3032 18.7235 20.3031 19.4953 19.8271 19.9713C19.351 20.4474 18.5792 20.4474 18.1032 19.9713L10.5178 12.386L2.93253 19.9713C2.45648 20.4474 1.68465 20.4474 1.2086 19.9713C0.73255 19.4953 0.73255 18.7235 1.2086 18.2474L8.7928 10.6632L1.2086 3.07901C0.732551 2.60296 0.732552 1.83113 1.2086 1.35508C1.68465 0.879034 2.45648 0.879034 2.93253 1.35508L10.5178 8.94041Z" fill="#242424"/>
            </svg>
            </div>
          <div class="log__popup-title">Оставте свой номер телефона и мы вам перезвоним</div>
          <div class="log__popup-input-wrap">
              <input name="tel" type="tel" class="tel__popup-input" placeholder="Ваш телефон" required="">
          </div>
          <div class="log__popup-button__wrap">
              <button class="log__popup-go" type="submit">Отправить</button>
          </div>
          
        </form>
        </div>
        
         <div id="call-back-message" class="message__popup-wrapper">
        <form class="log__popup" method="POST" action="" enctype="multipart/form-data">
          <div class="log__popup-close"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5178 8.94041L18.1032 1.35509C18.5792 0.879035 19.351 0.879035 19.8271 1.35509C20.3031 1.83114 20.3032 2.60296 19.8271 3.07901L12.2429 10.6632L19.8271 18.2474C20.3032 18.7235 20.3031 19.4953 19.8271 19.9713C19.351 20.4474 18.5792 20.4474 18.1032 19.9713L10.5178 12.386L2.93253 19.9713C2.45648 20.4474 1.68465 20.4474 1.2086 19.9713C0.73255 19.4953 0.73255 18.7235 1.2086 18.2474L8.7928 10.6632L1.2086 3.07901C0.732551 2.60296 0.732552 1.83113 1.2086 1.35508C1.68465 0.879034 2.45648 0.879034 2.93253 1.35508L10.5178 8.94041Z" fill="#242424"/>
            </svg>
            </div>
          <div class="log__popup-title">Опишите свой вопрос и мы ответим вам в ближайшее время.</div>
          <div class="log__popup-input-wrap">
              <input name="email" type="email" class="log__popup-input" placeholder="Email" required="">
              <input name="text" type="text" class="log__popup-input" placeholder="Тема">
              <textarea name="comment" class="log__popup-input-text" placeholder="Опишите свой вопрос?"></textarea>
          </div>
          <div class="log__popup-button__wrap">
              <button class="log__popup-go" type="submit">Отправить</button>
          </div>
          
        </form>
        </div>


        <div id="call-back-reg" class="reg__popup-wrapper">
            <form class="log__popup" method="POST" action="" enctype="multipart/form-data">
              <div class="log__popup-close"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5178 8.94041L18.1032 1.35509C18.5792 0.879035 19.351 0.879035 19.8271 1.35509C20.3031 1.83114 20.3032 2.60296 19.8271 3.07901L12.2429 10.6632L19.8271 18.2474C20.3032 18.7235 20.3031 19.4953 19.8271 19.9713C19.351 20.4474 18.5792 20.4474 18.1032 19.9713L10.5178 12.386L2.93253 19.9713C2.45648 20.4474 1.68465 20.4474 1.2086 19.9713C0.73255 19.4953 0.73255 18.7235 1.2086 18.2474L8.7928 10.6632L1.2086 3.07901C0.732551 2.60296 0.732552 1.83113 1.2086 1.35508C1.68465 0.879034 2.45648 0.879034 2.93253 1.35508L10.5178 8.94041Z" fill="#242424"/>
                </svg>
                </div>
              <div class="log__popup-title">Регистрация нового пользователя</div>
              <span class="log__popup-error">Такого логина не существует</span>  
              <span class="log__popup-error">Неверный пароль</span>      
              <div class="log__popup-input-wrap">
                <input name="name" type="text" class="log__popup-input" placeholder="Имя" required="">
                <small>Заполните поле</small>
                <input name="tel" type="tel" class="log__popup-input" placeholder="Номер телефона" required="">
                  <small>Заполните поле</small>
                  <input name="email" type="email" class="log__popup-input" placeholder="Email" required="">
                  <small>Заполните поле</small>
                  <input id="password-input" name="password" type="password" class="log__popup-input" placeholder="Создайте пароль" required="">
                  <small>Заполните поле</small>
                  <input id="password-input" name="password" type="password" class="log__popup-input" placeholder="Подтверждение пароля" required="">
                  <small>Заполните поле</small>
                  <a href="#" class="password-control"><svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 5.92383C11.07 5.92383 12.75 7.60383 12.75 9.67383C12.75 10.1613 12.6525 10.6188 12.48 11.0463L14.67 13.2363C15.8025 12.2913 16.695 11.0688 17.2425 9.67383C15.945 6.38133 12.7425 4.04883 8.9925 4.04883C7.9425 4.04883 6.9375 4.23633 6.0075 4.57383L7.6275 6.19383C8.055 6.02133 8.5125 5.92383 9 5.92383ZM1.5 3.87633L3.21 5.58633L3.555 5.93133C2.31 6.89883 1.335 8.18883 0.75 9.67383C2.0475 12.9663 5.25 15.2988 9 15.2988C10.1625 15.2988 11.2725 15.0738 12.285 14.6688L12.6 14.9838L14.7975 17.1738L15.75 16.2213L2.4525 2.92383L1.5 3.87633ZM5.6475 8.02383L6.81 9.18633C6.7725 9.34383 6.75 9.50883 6.75 9.67383C6.75 10.9188 7.755 11.9238 9 11.9238C9.165 11.9238 9.33 11.9013 9.4875 11.8638L10.65 13.0263C10.1475 13.2738 9.5925 13.4238 9 13.4238C6.93 13.4238 5.25 11.7438 5.25 9.67383C5.25 9.08133 5.4 8.52633 5.6475 8.02383ZM8.88 7.43883L11.2425 9.80133L11.2575 9.68133C11.2575 8.43633 10.2525 7.43133 9.0075 7.43133L8.88 7.43883Z" fill="#A0A0A0"/>
                    </svg>
                    </a>
              </div>
              <div class="log__popup-button__wrap">
                <span class="custom-control-label small">Пароль должен содержать не менее 8 символов и включать в себя строчные (a-z) или прописные буквы(A-Z), цифры (0-9), символы (./_#)</span>
                  <button class="log__popup-go" type="submit">Войти</button>
                  <div class="custom-control custom-checkbox">
                    <input style="display: block;" type="checkbox" id="customCheck1"
                        class="custom-control-input" value="on" onchange="document.getElementById("
                        mc-embedded-subscribe").disabled="!this.checked&quot;" checked="">
                    <label class="custom-control-label small" for="customCheck1">Я ознакомился и принимаю
                        условия “Политики конфиденциальности” и “Информированного согласия“</label>
                </div>
              </div>
              
            </form>
            </div>

<footer class="page-footer">
    <div class="page-footer__wrapper">

        <div class="page-footer__adv-wrap">
        <div class="footer__advantes">
            <img src="../img/footeradvantes.png" alt="Преимущества подписки">
            <ul class="advantes__list">
                <li>Закрытые распродажи (только для подписчиков)</li>
                <li>Оповещение о снижении цен на любимые товары</li>
                <li>Подборки трендового освещения</li>
            </ul>
        </div>

        <div class="footer__form">
            <h2>Подпишитесь и не пропустите новинки и товары со скидками</h2>
            <form class="footer__popup" method="POST" action="send.php" enctype="multipart/form-data">

                <div class="footer__popup-input-wrap">
                    <div class="footer__inputwrapper-frm">
                        <input name="name" type="text" class="footer__popup-input" placeholder="Ваше имя" required="">
                        <div class="footer__popup__error footer__popup__error_name"></div>
                        <input name="mail" type="email" class="footer__popup-input" placeholder="Ваша почта" required="">
                        <div class="footer__popup__error footer__popup__error__tel"></div>
                    </div>
                    <button class="footer__btn-frm" type="submit">Отправить</button>

                    <div class="custom-control custom-checkbox">
                        <input style="display: block;" type="checkbox" id="customCheck1" class="custom-control-input" value="on" onchange="document.getElementById(" mc-embedded-subscribe").disabled="!this.checked&quot;" checked="">
                        <label class="custom-control-label small" for="customCheck1">Я ознакомился и принимаю условия “Политики конфиденциальности” и “Информированного согласия“</label>
                    </div>
                
                </div>
            </form>
        </div>

    </div>
        
        <div class="footer__logowrapper">
            <img src="../img/logo.svg" alt="Логотип компании">
            <div class="tablet-list__wrapper">
                <ul>
                    <li>Категории</li>
                    <li><a>Люстры</a></li>
                    <li><a>Бра</a></li>
                    <li><a>Настольные лампы</a></li>
                    <li><a>Споты</a></li>
                    <li><a>Торшеры</a></li>
                    <li><a>Уличное освещение</a></li>
                    <li><a>Весь каталог</a></li>
                </ul>

                <ul>
                    <li>Помощь</li>
                    <li><a>Доставка</a></li>
                    <li><a>Оплата</a></li>
                    <li><a>Возврат</a></li>
                    <li><a>Гарантия</a></li>
                </ul>

                <ul>
                    <li>Партнерам</li>
                    <li><a>Дизайнерам</a></li>
                    <li><a>Поставщикам</a></li>
                </ul>
            </div>
            <div> 
                <a href="tel:+79000000001">+7 900 000 00 01</a>
                <a href="mailto:hello@luminare.ru">hello@luminare.ru</a>
            </div>
        </div>

        <div class="footer__last-wrapper">
            <div>
                <span>Мы принемаем к оплате</span>
                <img src="../img/visa.svg" alt="visa">
            </div>

            <div class="footer__link-wrapper">
                <a href=""><svg width="27" height="25" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.7499 12.6604C14.2819 12.6604 12.2812 14.6611 12.2812 17.1292C12.2812 19.5972 14.2819 21.5979 16.7499 21.5979C19.218 21.5979 21.2187 19.5972 21.2187 17.1292C21.2187 14.6611 19.218 12.6604 16.7499 12.6604Z" fill="#242424"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.55806 4.86617C14.2992 4.33628 19.2007 4.33628 23.9419 4.86617C26.5522 5.15791 28.6576 7.21461 28.9639 9.83405C29.5308 14.6809 29.5308 19.5774 28.9639 24.4242C28.6576 27.0437 26.5522 29.1004 23.9419 29.3921C19.2007 29.922 14.2992 29.922 9.55806 29.3921C6.94776 29.1004 4.84237 27.0437 4.536 24.4242C3.96912 19.5774 3.96912 14.6809 4.536 9.83405C4.84237 7.2146 6.94776 5.15791 9.55806 4.86617ZM23.6249 8.87915C22.8656 8.87915 22.2499 9.49476 22.2499 10.2542C22.2499 11.0135 22.8656 11.6292 23.6249 11.6292C24.3843 11.6292 24.9999 11.0135 24.9999 10.2542C24.9999 9.49476 24.3843 8.87915 23.6249 8.87915ZM10.2187 17.1292C10.2187 13.522 13.1428 10.5979 16.7499 10.5979C20.3571 10.5979 23.2812 13.522 23.2812 17.1292C23.2812 20.7363 20.3571 23.6604 16.7499 23.6604C13.1428 23.6604 10.2187 20.7363 10.2187 17.1292Z" fill="#242424"/>
                    </svg>
                    </a>
                <a href=""><svg width="27" height="25" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.6643 27.8404L25.6652 27.8381L25.6892 27.7783L29.8125 6.98955V6.92203C29.8125 6.40406 29.6211 5.95188 29.2047 5.68065C28.8401 5.44324 28.4211 5.42633 28.1272 5.44864C27.8165 5.47222 27.5234 5.5498 27.3206 5.61437C27.2162 5.64759 27.1289 5.67959 27.0664 5.7038C27.035 5.71595 27.0096 5.72626 26.9911 5.73394L26.973 5.74159L3.98324 14.7601L3.97691 14.7624C3.9645 14.7669 3.94808 14.773 3.92825 14.7808C3.88871 14.7961 3.83489 14.8182 3.77167 14.8468C3.64753 14.9031 3.47602 14.9899 3.30208 15.109C3.00666 15.3113 2.44412 15.7903 2.53911 16.5496C2.61779 17.1785 3.05133 17.578 3.34361 17.7848C3.50029 17.8956 3.65019 17.9756 3.75995 18.0278C3.81557 18.0543 3.86281 18.0746 3.89799 18.0889C3.91563 18.0961 3.93038 18.1018 3.94179 18.1062L3.9564 18.1116L3.96574 18.1151L7.98795 19.4692C7.97437 19.7215 7.9994 19.9789 8.06632 20.2327L10.0811 27.8755C10.32 28.7817 11.1398 29.413 12.0769 29.4123C12.917 29.4117 13.662 28.9035 13.9785 28.1453L17.1241 24.7819L22.5264 28.9238L22.6032 28.9573C23.094 29.1715 23.5526 29.2393 23.9719 29.182C24.3906 29.1249 24.7233 28.9493 24.9732 28.7493C25.2191 28.5526 25.3877 28.3305 25.4937 28.1633C25.5475 28.0784 25.5877 28.0037 25.6155 27.9475C25.6295 27.9193 25.6405 27.8954 25.6488 27.8768L25.6591 27.8529L25.6628 27.844L25.6643 27.8404ZM10.0606 19.707C10.0148 19.5333 10.0867 19.3499 10.2384 19.2536L23.8811 10.5898C23.8811 10.5898 24.6836 10.1027 24.6549 10.5898C24.6549 10.5898 24.7981 10.6759 24.3681 11.077C23.9602 11.458 14.6445 20.4519 13.7019 21.362C13.6475 21.4146 13.615 21.4748 13.5959 21.548L12.0754 27.3498L10.0606 19.707Z" fill="#242424"/>
                    </svg>
                    </a>
                <a href=""><svg width="27" height="25" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.4699 10.2625L13.4702 10.2632C13.6494 10.6627 13.9476 11.3889 14.1869 11.9716L14.1904 11.98C14.2845 12.2092 14.3696 12.4165 14.436 12.5762C14.4693 12.656 14.4973 12.7226 14.519 12.7734C14.53 12.7988 14.5388 12.8192 14.5457 12.8346L13.4699 10.2625ZM13.4699 10.2625C13.3129 9.91416 13.1191 9.66153 12.8616 9.51229M13.4699 10.2625L12.8616 9.51229M14.5478 13.9946L14.5478 13.9946L14.5436 14.0033C14.4502 14.1971 14.3599 14.3845 14.1597 14.6145L14.1596 14.6146C14.1004 14.6826 14.0377 14.7582 13.9703 14.8397L13.9604 14.8517C13.8509 14.9841 13.7218 15.14 13.6049 15.2565L13.6046 15.2568C13.5619 15.2993 13.5362 15.3257 13.517 15.3487L14.5478 13.9946ZM14.5478 13.9946L14.5856 13.9164L14.5478 13.9946ZM24.1365 19.481C24.0393 19.3172 23.8978 19.2154 23.7906 19.1499C23.6872 19.0867 23.5639 19.0276 23.4523 18.9741L23.4384 18.9674C23.3774 18.9382 23.3152 18.9084 23.2491 18.8754L23.249 18.8754C23.07 18.7863 22.5442 18.5281 22.0222 18.2768C21.5146 18.0324 20.9703 17.7749 20.7797 17.7037L20.7796 17.7037C20.6273 17.6469 20.3781 17.5547 20.1127 17.5859C19.795 17.6234 19.5627 17.8141 19.3935 18.07C19.1746 18.3928 18.5219 19.1544 18.3078 19.403L18.3078 19.403C18.2987 19.4136 18.2911 19.4216 18.2852 19.4274C18.2842 19.4271 18.2831 19.4269 18.282 19.4266C18.2539 19.4194 18.2086 19.4034 18.1407 19.3697C18.0708 19.3349 17.9818 19.2965 17.8936 19.2584L17.8835 19.2541L17.8824 19.2536C17.4012 19.046 16.4738 18.6458 15.4006 17.6904L15.3998 17.6896C14.405 16.8082 13.7227 15.7047 13.5281 15.3691L23.7064 19.7361M24.1365 19.481L23.7064 19.7361M24.1365 19.481C24.1364 19.4809 24.1364 19.4809 24.1364 19.4808L23.7064 19.7361M24.1365 19.481C24.2221 19.6252 24.2431 19.7993 24.2514 19.9058C24.2619 20.039 24.2599 20.1949 24.2454 20.3643C24.2163 20.7041 24.1343 21.1284 23.9737 21.5819L23.9725 21.5853C23.7649 22.1584 23.2109 22.6383 22.7087 22.9617C22.2001 23.2893 21.597 23.5504 21.1551 23.5918M23.7064 19.7361C23.7949 19.885 23.7949 20.5891 23.5024 21.415C23.2032 22.241 21.7611 23.0331 21.1081 23.094M21.1551 23.5918L21.1081 23.094M21.1551 23.5918C21.1549 23.5918 21.1547 23.5918 21.1546 23.5918L21.1081 23.094M21.1551 23.5918L21.1081 23.094M10.165 10.0165L10.165 10.0165C10.1888 9.99144 10.2085 9.9706 10.2259 9.9518C10.2259 9.9518 10.2259 9.9518 10.2259 9.9518L10.5925 10.2918L10.165 10.0165ZM10.165 10.0165C9.77065 10.4333 8.85449 11.4053 8.85449 13.2369C8.85449 14.2041 9.20182 15.1277 9.55308 15.8218C9.9077 16.5226 10.2884 17.0321 10.3952 17.1749L10.3952 17.175L10.3953 17.175L10.4025 17.1848L10.4027 17.1849L10.165 10.0165ZM12.8616 9.51229C12.6137 9.36855 12.3702 9.36229 12.243 9.35902M12.8616 9.51229L12.243 9.35902M12.243 9.35902C12.2396 9.35894 12.2363 9.35885 12.233 9.35876L12.243 9.35902ZM10.2457 27.9146C10.1342 27.8542 10.0039 27.8384 9.88117 27.8705L3.54608 29.5252C3.533 29.5286 3.52533 29.5274 3.52012 29.5258C3.51345 29.5239 3.50534 29.5195 3.49786 29.5119C3.49038 29.5043 3.48611 29.4962 3.48424 29.4895C3.48278 29.4842 3.48165 29.4765 3.48524 29.4635L5.17733 23.3215C5.21294 23.1922 5.19515 23.0541 5.12796 22.9381C3.97251 20.9431 3.36478 18.6808 3.3656 16.3783V16.3781C3.3656 9.14183 9.28832 3.25 16.5577 3.25C20.0918 3.25 23.4 4.61938 25.8909 7.09862C28.3812 9.57739 29.75 12.8755 29.75 16.3849C29.75 23.621 23.8273 29.5129 16.5578 29.5129H16.551C14.3422 29.5129 12.1726 28.9583 10.2457 27.9146ZM16.6738 22.6791C16.6739 22.6791 16.6739 22.6792 16.674 22.6792L16.857 22.2139L16.6738 22.6791ZM14.5856 13.9164C14.7972 13.4828 14.6802 13.1043 14.5559 12.8569L14.5856 13.9164Z" fill="#242424" stroke="#242424" stroke-linejoin="round"/>
                    </svg>
                    </a>
            </div>

        </div>


    </div>
</footer>