{{header}}
<main class="page-main">
        <div class="page-main__wrapper">

            <section class="spasibo">
                <div class="spasibo__wrapper">
                    
                    <div class="sapsibo__za-wrapper">
                        <h1>Спасибо за заказ</h1>
                        <div>Ваш заказ №261347 принят!</div>
                        <p>Иван, вы успешно оформили заказ.
                            Благодарим что выбрали нас!</p>
                        <p>Менеджер свяжется с вами для подтверждения заказа</p>
                        <div class="spasibo__ssilka">
                            <div>Ваша ссылка на этот заказ</div>
                            <a href="">Скопировать ссылку</a>
                        </div>
                    </div>


                    <div class="sapsibo__sostav-wrapper">
                        <h2>Состав заказа</h2>
                        
                        <ul class="sapsibo__sostav-list">
                            <li class="sapsibo__sostav-item">
                                <div class="sapsibo__sostav-copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                                <div class="sapsibo__sostav-cena">
                                    <div>22 000 000₽</div>
                                    <span>100 000 шт</span>
                                </div>
                            </li>

                            <li class="sapsibo__sostav-item">
                                <div class="sapsibo__sostav-copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                                <div class="sapsibo__sostav-cena">
                                    <div>22 000 000₽</div>
                                    <span>100 000 шт</span>
                                </div>
                            </li>

                            <li class="sapsibo__sostav-item">
                                <div class="sapsibo__sostav-copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                                <div class="sapsibo__sostav-cena">
                                    <div>22 000 000₽</div>
                                    <span>100 000 шт</span>
                                </div>
                            </li>

                            <li class="sapsibo__sostav-item">
                                <div class="sapsibo__sostav-copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                                <div class="sapsibo__sostav-cena">
                                    <div>22 000 000₽</div>
                                    <span>100 000 шт</span>
                                </div>
                            </li>

                            <li class="sapsibo__sostav-item">
                                <div class="sapsibo__sostav-copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                                <div class="sapsibo__sostav-cena">
                                    <div>22 000 000₽</div>
                                    <span>100 000 шт</span>
                                </div>
                            </li>

                            <li class="sapsibo__sostav-item">
                                <div class="sapsibo__sostav-copiright">
                                    <div>Vele Luce Licia VL1924L06</div>
                                    <span>Италия</span>
                                </div>
                                <div class="sapsibo__sostav-cena">
                                    <div>22 000 000₽</div>
                                    <span>100 000 шт</span>
                                </div>
                            </li>
                            
                        </ul>

                        <div class="sapsibo__itog-wrapper">
                            <div class="sapsibo__itog-item"><div>Товары (400 000)</div><span>88 000 000₽</span></div>
                            <div class="sapsibo__itog-item"><div>Доставка</div><span>0₽</span></div>
                            <div class="sapsibo__itog-item"><div>Скидка</div><span>100 000₽</span></div>
                            <div class="sapsibo__itog-item"><div>Итого к оплате</div><span>87 900 000₽</span></div>
                        </div>


                    </div>

                </div>
            </section>

          

        </div>
    </main>
    {{footer}}